[2018-11-14 16:49] FabriBertani opened #1 "ADD ANDROID SUPPORT FOR EMULATOR"
Hi @AndreiMisiukevich i found your plugin awsome, it works great on iOS but can't make it work on Android (i've installed the System.Threading.Tasks.Extensions v4.4.0), the observer register an update on my xaml but the emulator don't update the screen.

[2018-11-14 16:54] AndreiMisiukevich commented on #1
@FabriBertani hi, thanks for feedback :)
I noticed this issue too. I will try to figure out, why it doesn't work

[2018-11-19 21:21] AndreiMisiukevich commented on #1
Hope @1iveowl will help us https://github.com/1iveowl/SimpleHttpListener.Rx/issues/9

[2018-11-20 13:05] pdamco opened #2 "mono observer.exe command throwing exception on Mac"
mono observer.exe

command throwing below exception:

Unhandled Exception:
System.Net.Sockets.SocketException (0x80004005): Could not resolve host 'MAC-106'
  at System.Net.Dns.Error_11001 (System.String hostName) [0x00015] in <81ba78c8dc794b7f9f7b530c53db0f84>:0
  at System.Net.Dns.GetHostByName (System.String hostName) [0x00021] in <81ba78c8dc794b7f9f7b530c53db0f84>:0
  at System.Net.Dns.GetHost

[2018-11-20 13:10] AndreiMisiukevich commented on #2
Hi @pdamco
Are you working in virtual machine?

try please next
[code]

[2018-11-20 18:17] AndreiMisiukevich commented on #2
Wait for your feedback

[2018-11-21 05:13] pdamco commented on #2
@AndreiMisiukevich  Getting same exception.

[2018-11-21 09:16] AndreiMisiukevich commented on #2
@pdamco ok, i will add try - catch
Thanks for your feedback. I'm going to refactor it on this weekend :)

[2018-11-22 21:48] AndreiMisiukevich commented on #2
@pdamco do you use Mojave, right?
I have started to experience the same issue after updating from high sierra to mojave :)

[2018-11-22 22:34] AndreiMisiukevich commented on #1
Hi @FabriBertani
Did you try on emulator, right?

[2018-11-22 23:53] AndreiMisiukevich commented on #2
@pdamco hey, try 1.0.5 with new observer

[2018-11-22 23:56] AndreiMisiukevich commented on #1
@FabriBertani could you please try on real device?
Make sure, that **observer** and **reloader** have the same url (it should be url with your device local ip _[http://{ip}:800 something like this]_, also PC/Mac and device must be in one local network)

[2018-11-22 23:56] #2 closed

[2018-11-23 09:09] 1iveowl commented on #1
[SimpleHttpListener.Rx v6.1.0](https://www.nuget.org/packages/SimpleHttpListener.Rx/6.1.0) now depends on System.Reactive 4.0.0. This should work-round the issue until later versions of System.Reactive have been fixed to work on Android.

[2018-11-23 14:22] 1iveowl commented on #1
Unfortunately, I don't know how to force the emulator to accept http requests.

[2018-11-23 19:17] PWaliaDev opened #3 "Not working for TabbedPage"
I have changed inside children control of TabbedPage. View has not been refreshed.

[2018-11-23 19:43] AndreiMisiukevich commented on #3
Hi, what exactly did you change?

[2018-11-24 14:55] PWaliaDev commented on #3
I created SampleApp with TabbedPage.
TabbedPage has children MainPage. I changed Label text inside MainPage but nothing changed on simulator.

[2018-11-26 09:16] AndreiMisiukevich commented on #3
@PWaliaDev great, thanks. I will check this case

[2018-11-26 15:50] gabrielbunselmeyer opened #4 "App fails to get past Navigation.PushAsync"
I've been getting the following exception when the application gets to its first Navigation.PushAsync() call:

[code]
[code]

The line its referencing:
[code]

Might have something to do with it being a MasterDetailPage? It "works" when it's a blank ContentPage, though it doesn't actually update when I save (different problem I'd guess). I'm getting the following warning, which might be the cause?

[2018-11-26 21:20] AndreiMisiukevich commented on #4
Hi, you should not enable **XamlCompilationOptions.Compile** for Debug like code below.
Or try to set **XamlCompilationOptions.Skip** directly

[code]

Also, could you try with iOS ? And it would be great to have small sample (only necessary files)

[2018-11-27 17:46] AndreiMisiukevich commented on #3
Check my sample
I tried next code

[code]

And everything works as expected. So, i wait the sample with reproduction of this issue

[2018-11-27 17:48] AndreiMisiukevich commented on #1
Hm, i think we can modify the flow for android emulator
Host httpListener on PC/Mac instead of doing it on device/emulator.
Call host every 1 sec for retrieving updates.

[2018-11-27 17:49] AndreiMisiukevich commented on #4
Wait reproduction :)

[2018-11-27 19:17] PWaliaDev commented on #3
This code is not working.
Let say have a Label "nameLbl" in Xaml of page.

public MainPage()
        {
#if DEBUG
            this.InitializeElement();
#else
            InitializeComponent();
#endif

nameLbl.TextColor = Color.White;
        }

[2018-11-27 19:33] AndreiMisiukevich commented on #3
@PWaliaDev could you please provide full sample project in zip
...
As for named views, I am afraid this isn't supported by my plugin

[2018-11-29 08:14] AndreiMisiukevich commented on #4
@gabrielbunselmeyer hey) could you please provide me a reproduction sample?)

[2018-11-29 08:15] AndreiMisiukevich commented on #3
@PWaliaDev hey) could you please provide me a reproduction sample?)

[2018-12-02 00:41] AndreiMisiukevich commented on #3
@PWaliaDev hey)

[2018-12-02 00:41] AndreiMisiukevich commented on #4
@gabrielbunselmeyer ping

[2018-12-02 17:38] PWaliaDev commented on #3
@AndreiMisiukevich  was trying for TabbedPages but its working
May be i was missing something.

But yes is not working for  named views. getting null exception.

[2018-12-02 21:08] AndreiMisiukevich commented on #3
@PWaliaDev as for named view.. it isn't supported and i'm not sure, if it will be possible to support at all.

Closing this issue for now, if you have sample of original issue, let me know.

[2018-12-02 21:08] #3 closed

[2018-12-02 21:09] AndreiMisiukevich commented on #4
Closing for now (have no reproduction)

[2018-12-02 21:09] #4 closed

[2018-12-26 09:04] AndreiMisiukevich opened #7 "ADD X:NAME SUPPORT"
Add possibility to write
[code]
And access it in code behind like
[code]

[2018-12-28 20:36] #7 closed

[2018-12-28 20:53] AndreiMisiukevich opened #8 "ADD POSSIBILITY TO WORK WITH XamlCompilationOptions.Compile"
[code]

Should not cause exceptions

[2018-12-28 20:54] #8 closed

[2018-12-28 21:14] AndreiMisiukevich opened #9 "MOVE HotReloader TO Xamarin.Forms namespace"
I do it for avoiding of adding ```using``` directives

[2018-12-28 21:14] #9 closed

[2018-12-28 21:27] AndreiMisiukevich opened #10 "REMOVE NECESSITY TO USE #IF DEBUG etc."
Use this method instead
[code]

[2018-12-28 21:28] #10 closed, assigned to nobody

[2018-12-29 21:52] AndreiMisiukevich opened #11 "ADDED POSSIBILITY TO INIT VIEW AFTER RELOADING"
Use ```IReloadable``` interface for achieving it
[code]

[2018-12-29 21:52] #11 closed

[2018-12-31 18:47] AndreiMisiukevich opened #12 "WIN 10 ISSUES"
More info here: https://forums.xamarin.com/discussion/comment/359671/#Comment_359671

[2018-12-31 18:55] AndreiMisiukevich commented on #12
updated readme

[2018-12-31 18:55] #12 closed

[2019-01-03 14:25] EmilAlipiev opened #13 "getStream instead of httppost?"
I was just examining your code and there is this one also very similar to yours. i was wondering why did you prefer httppost request instead of getstream like here is doing? https://github.com/patsadow2/XamarinLiveReload/blob/master/XamarinLiveReloadPS/XamarinLiveReloadPS/Program.cs

I am not sure but maybe it is better way, as you can see he is doing localhost connection. Xamarin Livereload was d

[2019-01-03 14:43] AndreiMisiukevich commented on #13
@EmilAlipiev i know, how we can solve this issue. Make requests every 1 sec by timer FROM device/emulator TO laptop/pc. In this case laptop/PC must know, which files it should send to device.

[2019-01-03 15:45] EmilAlipiev opened #14 "InitComponent is necessary?"
You mentioned on xamarin forums that InitComponent is not required but when i try sample project and comment out InitComponent lines in xaml.cs files, it doesnt work. how to use it without InitComponent? samples are not probably up to date

[2019-01-03 15:51] EmilAlipiev commented on #13
I think that you dont even need to schedule for 1 sec. you can continue doing it as you do now. only problem here is connection between work station and emulator. Android emulator seems to be working differently than Ios simulator. like in the answer [here ](https://stackoverflow.com/questions/3378501/how-to-browse-localhost-on-android-device)is given localhost can be used with 10.0.2.2 Android re

[2019-01-03 16:08] AndreiMisiukevich commented on #14
@EmilAlipiev i said, that ```InitComponent(InitializeComponent);``` isn't necessary, but you will have to write ```InitComponent();```

So, answer: Yes, it's necessary.

Maybe, it would be better to generate code, but i don't know how to achieve it (Like Fody did)

[2019-01-03 16:08] #14 closed

[2019-01-03 16:11] AndreiMisiukevich commented on #13
@EmilAlipiev I will be grateful any details :)
Probably i will continue investigation.

So, if you will have any ideas, contact me

Btw, let's close this ticket and go ahead with existing one https://github.com/AndreiMisiukevich/HotReload/issues/1

[2019-01-03 16:11] #13 closed

[2019-01-18 03:47] LeoJHarris opened #16 "Not updating on changes - android device - win64"
Hi @AndreiMisiukevich ,

I am having issues with your plugin in that I cannot get anything to reload when saving,

I am using a real android device for hot reload and have followed your setup steps:

1. have added the nuget to NETSTANDARD and android and iOS projects

2. added to App file the code `#if DEBUG
            HotReloader.Current.Start();
#endif`

3. ALL XAML partial classes have added t

[2019-01-18 08:46] AndreiMisiukevich commented on #16
@EmilAlipiev hi. Could you please help us?

@LeoJHarris
1) Are you able to check that system works on my sample ?
2) Can you see any updates in cmd after saving the file ? (It should write something like "FILE CHANGED" in command line of observer)

Ahhh.. step (4). You said that you run observer.exe as is.
So, like ```observer.exe``` in cmd, correct?
You must use url of your device!
```observer.ex

[2019-01-22 20:00] AndreiMisiukevich commented on #16
@LeoJHarris did you solve the problem?

[2019-01-22 20:07] LeoJHarris commented on #16
@AndreiMisiukevich I Found the device URL in the VS output window and set that as the URL for the observer and the path to the root .NETSTANDARD project in cmd (where the observer file is). I just restarted the debugger a couple of times without success while observer still running. I checked the cmd output and no details saying "FILE CHANGED" when saving the XAML while debugging - Ill check your

[2019-01-22 20:36] AndreiMisiukevich commented on #16
@LeoJHarris hm, looks like observer doesn't detect any changes.. hmm
Yes, please, try with my sample
If no luck, try to build observer from solution (just select console app and rebuild action, then find exe file in bin folder)

[2019-01-23 10:42] AbdelrahmanGIT commented on #1
@AndreiMisiukevich Glad i was able to help, i will update the Readme file maybe tonight or tomorrow.

[2019-01-23 11:03] AbdelrahmanGIT opened #17 "Observer.exe doesn't register a file change when using visual studio as the ide on windows"
When changing a xaml file through visual studio, vs doesn't change the file instead  it writes the content to temporary file then removes the original file and then renames the temp file to the original file name.

Which in `FileSystemWatcher` eyes its a delete then rename the problem is that the current Filter isn't setup to detect this kind of behavior and as a result it doesn't detect any chang

[2019-01-23 15:15] AndreiMisiukevich commented on #17
Wait PR's

[2019-01-25 15:10] AndreiMisiukevich commented on #1
Added workaround section to Readme file!

[2019-01-25 15:10] #1 closed

[2019-01-26 10:51] AbdelrahmanGIT commented on #16
I think this maybe the same as #17

[2019-01-26 20:59] #17 closed

[2019-01-26 20:59] AndreiMisiukevich commented on #16
@LeoJHarris check it again on the next week
Should be working :)

[2019-01-26 20:59] #16 closed

[2019-01-27 19:51] AndreiMisiukevich opened #20 "Allow to use HotReload without modifying all code-behind files"
It would be awesome to avoid writing of next lines in every **xaml.cs** file
[code]

[2019-01-28 13:08] AbdelrahmanGIT commented on #20
I think maybe listening to `PageAppearing/PageDisappearing`  in the `Application` class but in that case we need to retrieve `InitializeComponent` using reflection also we may need some kind of flag to avoid init multiple times if it will create a problem

[2019-01-28 14:58] AndreiMisiukevich commented on #20
@AbdelrahmanGIT

We need to attach our code to Xaml.cs constructors.

PageAppearing/PageDisappearing ... hm.. need to think about it.. We also need to update ALL elements on the page (including Cells, Views)

[2019-02-14 09:34] huyjack178 opened #21 "Unhandled Exception: System.IO.IOException: The process cannot access the file '...Views\MenuPage.xaml' because it is being used by another process."
It throws when run observer.exe

[2019-02-14 10:05] AndreiMisiukevich commented on #21
Seems you opened this file for edit in some redactor except VS ?

Win / Mac ?

[2019-02-14 10:06] huyjack178 commented on #21
I develop in windows and use iOS emulator in paired MAC

[2019-02-14 10:09] AndreiMisiukevich commented on #21
Good point.

Will you get the same exception if unpair mac and just try to update xaml ?

[2019-02-14 10:10] huyjack178 commented on #21
Yes, get the same

[2019-02-14 10:12] AndreiMisiukevich commented on #21
@huyjack178 and one more check please.

Close VS totally and open xaml file in text editor. Try to edit now

Still got the error? It's very strange
-
Maybe restarting PC will help....

[2019-02-14 10:12] AndreiMisiukevich commented on #21
@huyjack178 unfortunately i don't have Win PC... Mac only :(

Need help in debugging this case

[2019-02-14 10:21] huyjack178 commented on #21
I have restarted PC. Open XAML file in notepad. 1st save show NO CONNECTION. 2nd save show Exception as well

[2019-02-14 10:27] AndreiMisiukevich commented on #21
@huyjack178 NO Connection means that file was read but observer could not send it to your simulator (as it isn't started)

But why after that you get such exception.. no idea

You could try to put any xaml file in bin/debug directory of observer project and debug what's wrong..

hmmmm very strange

[2019-02-14 10:32] huyjack178 commented on #21
I run emulator and try again, not show NO Connection but not reload UI and the 2nd save still throw exception. I use windows 10

[2019-02-14 10:35] AndreiMisiukevich commented on #21
Ok, got it
I will try to solve

[2019-02-15 04:28] huyjack178 commented on #21
any news sir?

[2019-02-15 09:03] AndreiMisiukevich commented on #21
@huyjack178 hi, one my colleague works on VS Extension :) He promised to create in on next weekend. So, hope it will solve this issue (you won't need to use observer.exe)

[2019-02-16 18:56] stanbav commented on #21
@huyjack178 please try out [this extension](https://marketplace.visualstudio.com/items?itemName=StanislavBavtovich.hotreloadxamarinforms). That's the one @AndreiMisiukevich was talking about :)

[2019-02-16 23:34] AndreiMisiukevich commented on #21
@huyjack178 try with extension please :)

[2019-02-16 23:34] #21 closed

[2019-02-17 07:38] IoTFier opened #22 "Support with PrismApplication"
How to configure this extension in the set up which uses Prism Library for Xamarin Forms 3.5+ , Prism Library v7.1+ with dryloc as IoC ?

[2019-02-17 10:35] AndreiMisiukevich commented on #22
Hi @IoTFier
What exactly is your issue ? :)

Did you read Readme file?

Call it once
[code]
And all xaml.cs files (which you want to reload with HotReload
[code]

Is it your issue? https://github.com/AndreiMisiukevich/HotReload/pull/5

[2019-02-17 16:59] IoTFier commented on #22
In Prismbased Xamarin Forms application the App is derived from PrismApplication base class which doesn't take the default constructor. Adding that default constructor per your readme throws following error.

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0111	Type 'App' already defines a member called '.ctor' with the same parameter types

I truly appreciate your help in he

[2019-02-17 18:58] AndreiMisiukevich commented on #22
You can call this method in any place ```HotReloader.Current.Start();```
In AppDelegate.cs or MainActivity.cs or OnStart method of application etc.

[2019-02-19 10:36] huyjack178 commented on #21
thank you so much

[2019-02-19 10:49] huyjack178 commented on #21
how to config extension, I don't see it in Tools menu

[2019-02-19 11:17] AndreiMisiukevich commented on #21
@huyjack178 we will add info about configuration a little bit later :)
@stanbav could you please make PR with doc?

[2019-02-19 11:18] AndreiMisiukevich commented on #22
You need to call it before opening any reloadable view. So, put in AppDelegate and MainActivity before creating application.

Hope it will help

[2019-02-19 11:18] #22 closed

[2019-02-19 12:19] AndreiMisiukevich opened #23 "[Enhancement] Extension for VS for Mac"
It would be awesome to have this tool for Mac too

[2019-02-19 12:20] AndreiMisiukevich opened #24 "[Enhancement] CSS support"
Reload CSS styles.

P.S. Who uses it ??? :))

[2019-02-19 16:11] stanbav commented on #21
@huyjack178 To show on Visual Studios toolbar next steps required: Tools -> Customize -> Tick "Xamarin.Forms Hot Reload" checkbox. An "lighting" icon will appear - just press it.

@AndreiMisiukevich will update Readme this weekend.

[2019-02-19 16:12] stanbav commented on #23
@AndreiMisiukevich assign on me - guess will be able to release it this or next weekend.

[2019-02-20 03:35] huyjack178 commented on #24
I will. Thanks

[2019-02-26 20:50] AndreiMisiukevich commented on #23
@stanbav good job!

[2019-02-26 20:50] #23 closed

[2019-02-27 13:47] akamud opened #25 "[Discussion/Idea] Use Fody to simplify setup"
I was wondering if we could use [Fody](https://github.com/Fody/Fody) to remove this page setup:

[code]

Right now this feels cumbersome as it is needed in every page. With Fody we could automatically change this call to the propery way, adding a check for a compilation symbol. For example, we could avoid doing that if we find a `DISABLE_HOT_RELOAD` compilation symbol.

What do you think?

[2019-02-27 13:53] AndreiMisiukevich commented on #25
hi @akamud https://github.com/AndreiMisiukevich/HotReload/issues/20

I work on this :)

[2019-02-27 16:47] akamud commented on #23
Where can we find the source code for the extension?

[2019-02-27 20:44] stanbav commented on #23
@akamud I wouldn't like to open source code of the extension now. Since it very messy and needs to be reengireed. Unfortunately I don't have much time to do that.
For now you can report extension-related  critical and major issues here and I will try to fix it asap.

[2019-02-28 08:58] MagicAndre1981 opened #26 "VS2019 Preview4: Performance Warning"
When I start Visual Studio 2019 (preview4 in my case) I get a Performance warning:

![image](https://user-images.githubusercontent.com/8274816/53554043-2f0efa80-3b3f-11e9-894b-47a636abfa50.png)

clicking on "Manage Performance" shows that Hotreload uses a Deprecated API:

![image](https://user-images.githubusercontent.com/8274816/53553931-fe2ec580-3b3e-11e9-96b9-5d768ce380e1.png)

Clicking on _Mor

[2019-02-28 09:33] AndreiMisiukevich commented on #25
duplicated

[2019-02-28 09:33] #25 closed

[2019-03-01 02:33] AndreiMisiukevich commented on #1
@AbdelrahmanGIT hi
i changed implementation :)

Could you please assist with workaround now?
I use HttpListener isntead

[2019-03-01 04:30] huyjack178 opened #27 "Lost page content when reload"
Please take a look in this photo, when reload it lost all content in windows VS

![image](https://user-images.githubusercontent.com/11793001/53616507-72d43380-3c15-11e9-8e8b-3ae415f236a4.png)

[2019-03-01 04:46] tnolan2 commented on #27
I have the same issue. Was working great all day, until this.

[2019-03-01 08:52] AndreiMisiukevich commented on #27
@tnolan2 @huyjack178 could you please provide small sample?

[2019-03-01 09:18] AndreiMisiukevich commented on #20
Done!
Check newest version. It will be available in very short time

[2019-03-01 09:26] #20 closed

[2019-03-01 09:35] AndreiMisiukevich commented on #27
Probably you had mistakes in xaml during designing?

[2019-03-01 09:41] AndreiMisiukevich opened #28 "[Enhancement] Create project logo"
@baranpirincal Hi :)
Would you like to contribute logo for this project as well?)

You did amazing work for CardsView https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs

Regards

[2019-03-01 09:59] huyjack178 commented on #27
I use prism and that page is in the modules of prism

[2019-03-01 10:30] AndreiMisiukevich commented on #27
@huyjack178 could you please create small sample project with this issue?
i will debug it :) 👍

[2019-03-01 13:54] ChasakisD opened #29 "Allow multiple connections"
First of all, i would like to say thanks for this amazing extension. It's the first that actually works, even with custom views and custom renderers.

A lot of times you have to test on a lot of platforms and devices. It would be better to allow the visual studio to connect with multiple devices and when sending the xaml, it should send it to all the devices.

I could work on that. I could add thi

[2019-03-01 14:31] AndreiMisiukevich commented on #29
Hey @ChasakisD Thanks for feedback :) I'm glad to read it :)

[2019-03-01 17:24] tnolan2 commented on #27
@AndreiMisiukevich I did a little bit of debugging on this. In my case I only see this issue when I have a page with a converter inside my page resources.

<ContentPage.Resources>
        <converters:NegateBooleanConverter x:Key="Inverter" />
</ContentPage.Resources>

I have also noticed when I have a toolbaritem in my page it will duplicate when saving. I am using prism on xamarin 4 preview. I ca

[2019-03-01 18:04] tnolan2 commented on #27
I fixed the issue by wrapping the converters in a resourcedictionary. After looking at the xamarin docs it looks like they should be wrapped in a resource dictionary regardless.
Xamarin doc reference: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/converters

ContentPage.Resources
ResourceDictionary
converters:NegateBooleanConverter x:Key="Inverter"
ResourceDi

[2019-03-01 21:37] AndreiMisiukevich opened #30 "[Enhancement] External ResourceDictionary support"
Added reloading of external resource dictionaries and app resources
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/resource-dictionaries

[2019-03-04 08:56] MagicAndre1981 commented on #11
I override OnAppearing and do here some tasks. How to handle the reload in such case? currently my page gets blank.

[2019-03-04 09:15] AndreiMisiukevich commented on #11
@MagicAndre1981 good question.
Wait please new release. I am keen to create new version on this week

[2019-03-04 09:47] MagicAndre1981 commented on #11
ok.

I tried to call

[code]

in public void OnLoaded() but the breakpoint is not hit.

[2019-03-05 10:44] AbdelrahmanGIT commented on #1
@AndreiMisiukevich  i think the workaround should still work assuming it's still listening to `localhost` in the emulator to, i will look into it today and see if the workaround need changes :)

[2019-03-05 10:44] AndreiMisiukevich commented on #1
@AbdelrahmanGIT yep) that's correct
Don't know why, but it doesn't work on genymotion emulator :( but fine on defaults

[2019-03-05 10:59] MagicAndre1981 commented on #11
ok, the OnLoaded() is called when I first start the app, but not when the XAML was changed.

It would be nice to have an async version:

public async Task  OnLoadedAsync() to do the async calls here. And after changing the XAML, make sure the OnLoadedAsync() gets called again so that I can do my async stuff again all time.

[2019-03-05 11:03] AndreiMisiukevich commented on #11
@MagicAndre1981 i will check it.

Probably, i will refuse OnLoaded (obsolete it in next release)
And add OnReloaded

As for async.. feel free to use **asyn void** or Task.Run

[2019-03-05 11:15] MagicAndre1981 commented on #11
In past this caused deadlocks for me, so I try to avoid it now.

[2019-03-05 11:17] stntz opened #32 "ToolBarItems incrementing"
When you save a page that has a toolbaritem defined in xaml, it adds a duplicate and keeps adding everytime when you save.

[2019-03-05 11:31] AndreiMisiukevich commented on #32
Thanks 😊

[2019-03-05 13:50] MagicAndre1981 commented on #11
ok, it works now and I have no idea why it fails. Also OnLoaded() is called on XAML change in UWP. I use `public async void OnLoaded()` and it works so far. I hope it doesn't produce hangs in future.

[2019-03-05 13:51] MagicAndre1981 commented on #29
what about using PC names (when using UWP apps of XF project) instead of IPs? IPs can change on DHCP very often

[2019-03-05 16:53] ChasakisD commented on #32
The same is happening also for the TabbedPage items. All of the tabs are added to the current TabbedPage after reload.

[2019-03-05 17:11] AndreiMisiukevich commented on #32
@ChasakisD do you mean tabbed page children ?

[2019-03-05 17:20] ChasakisD commented on #32
Yes. Tested on both Android and iOS while children pages are set in xaml.

[2019-03-06 09:36] MagicAndre1981 opened #33 "Add a warning to extension if Hotreload is not connected like "Live reload""
The retired Microsoft [Live reload extension](https://marketplace.visualstudio.com/items?itemName=Xamarin.XamarinLiveReload) adds this little yellow bar over the opened XAML if it is not connected:

![image](https://user-images.githubusercontent.com/8274816/53870646-f073b700-3ffa-11e9-8d87-1a87da4439c5.png)

It would be nice if this was be also added here. I was confused why the page did not updat

[2019-03-06 12:26] AbdelrahmanGIT commented on #1
@AndreiMisiukevich That's weird it should work as it's an `adb` feature, i will download genymotion and see if/how we can fix this

[2019-03-11 09:01] MagicAndre1981 commented on #29
any update on this? I would also like to run UWP/Android app same time and see how xaml updates (for example OnPlatform entries) look on each platform

[2019-03-11 09:03] AndreiMisiukevich commented on #29
@MagicAndre1981 work is in progress. I hope it will be available at this week (probably at weekend @stanbav will push new version of extensions)

[2019-03-11 09:05] MagicAndre1981 commented on #29
thanks for the update

[2019-03-11 17:12] AlonRom opened #35 "Error when tryin to connect to Android emulator"
Hi,

I keep getting the following error when trying to connect to my emulator:

![Capture](https://user-images.githubusercontent.com/27087135/54142949-721b7880-4431-11e9-80bb-ab406e5fa2ef.PNG)

Do you know how can I fix this issue?

thanks.

[2019-03-11 19:16] AndreiMisiukevich commented on #35
Hi
Have you checked yet?
https://github.com/AndreiMisiukevich/HotReload#android-emulator

[2019-03-11 19:16] #35 closed

[2019-03-11 21:31] AlonRom commented on #35
where di I need to execute this command:
adb forward tcp:8000 tcp:8000 ?

[2019-03-11 21:35] AndreiMisiukevich commented on #35
In your terminal.
Firstly you need to install adb (if it doesn't exist)
https://stackoverflow.com/questions/31374085/installing-adb-on-macos

[2019-03-11 21:42] AlonRom commented on #35
@AndreiMisiukevich  thanks for the reply, I'm on windows, when I run this command I'm getting the following:

![image](https://user-images.githubusercontent.com/27087135/54160063-3c898600-4457-11e9-80cb-87c09bfcc3cc.png)

[2019-03-11 22:54] AlonRom commented on #35
Success! thanks @AndreiMisiukevich

[2019-03-12 00:37] AndreiMisiukevich commented on #32
v 1.2.1

[2019-03-12 00:37] #32 closed

[2019-03-12 00:38] AndreiMisiukevich commented on #30
v 1.2.1

[2019-03-12 00:38] #30 closed

[2019-03-12 00:38] AndreiMisiukevich commented on #27
v 1.2.1

[2019-03-12 00:38] #27 closed

[2019-03-12 06:32] royraz opened #36 "Exception on Start"
I've installed the VS extension and Nugets for my Core, Android, and iOS projects.

When running the app, I'm getting an exception: "Value cannot be null. Parameter name: stream" on HotReloader.Current.Start(this);

[2019-03-12 06:51] royraz commented on #36
Fixed after downgrade to version 1.2.0

[2019-03-12 07:05] tnolan2 commented on #36
Same issue on my end. Also, downgraded to 1.2.0 for fix.

[2019-03-12 08:00] MagicAndre1981 commented on #36
I also get an exception:

[code]

at `HotReloader.Current.Start(this);`

[code]

[2019-03-12 08:18] MagicAndre1981 commented on #36
ok, this line seams to cause it:

https://github.com/AndreiMisiukevich/HotReload/blob/master/Reloader/Xamarin.Forms.HotReload.Reloader/HotReloader.cs#L230

after 2 lines before returns null for the stream:

https://github.com/AndreiMisiukevich/HotReload/blob/master/Reloader/Xamarin.Forms.HotReload.Reloader/HotReloader.cs#L228

[2019-03-12 08:30] MagicAndre1981 commented on #36
ok, the issue was introduced here:

https://github.com/AndreiMisiukevich/HotReload/commit/20351c09d0d5e5f8fdaf8fbf17de251f7c0b1932#diff-c0ad30a90ff5339063bc11314c3c9f8aR185

[2019-03-12 08:31] AndreiMisiukevich commented on #36
Hi all
thanks for for feedback?
Have you experience this issue on android ?

[2019-03-12 08:32] tnolan2 commented on #36
@AndreiMisiukevich Yes, it was on Android for me. I haven't tested other platforms yet.

[2019-03-12 08:33] MagicAndre1981 commented on #36
I see it in UWP, haven't tried Android

[2019-03-12 08:43] AndreiMisiukevich commented on #36
hmm interesting.. don't see crash for me

[2019-03-12 08:53] AndreiMisiukevich commented on #36
agrh... okay
Seems i know what is the issue..
Is your App.cs has App.cs.xaml ?)
I guess, not

[2019-03-12 08:57] MagicAndre1981 commented on #36
I have a file called `App.xaml`, but not `App.cs.xaml `

[2019-03-12 09:13] AndreiMisiukevich commented on #36
@MagicAndre1981 you have another issues than described here.
Seems there is troubles with UWP.

Thanks, i will check that PR later.

[2019-03-12 09:17] AndreiMisiukevich commented on #36
1.2.2 version will be available in 10 minutes

[2019-03-12 09:17] #36 closed

[2019-03-12 09:18] MagicAndre1981 commented on #36
no, 1.2.0 worked fine in UWP. I'll test 1.2.2 soon.

[2019-03-12 09:31] AndreiMisiukevich commented on #36
@MagicAndre1981 yes please
It other case, i will create pre-release version of package with you PR included

[2019-03-12 09:52] MagicAndre1981 commented on #36
1.2.2 works fine in UWP. I no longer get the crash

[2019-03-12 10:04] AndreiMisiukevich commented on #36
@MagicAndre1981 thx :)

[2019-03-13 19:42] jbravobr commented on #22
@AndreiMisiukevich I try everything and still not working, I got this ### HOTRELOAD ERROR: 'x:Class' NOT FOUND ###. Any ideas ?

[2019-03-14 07:55] AndreiMisiukevich commented on #22
@jbravobr hi
could you please provide small sample with this issue?

[2019-03-14 13:06] AndreiMisiukevich opened #38 "Add Profiles/History feature to VS extension"
![image](https://user-images.githubusercontent.com/10124814/54358934-9619cc80-4672-11e9-89e8-1df0937e6097.png)

Add possibility to create multiple profiles for different devices (like history)

[2019-03-14 16:42] jbravobr commented on #22
@AndreiMisiukevich here: https://github.com/jbravobr/ArcTouch_CHALLENGE. At the exactly moment it's without the HotReload, but you could add it bac again and test

[2019-03-14 16:58] AndreiMisiukevich commented on #22
@jbravobr

   ```x:Class                ="arcthouchapply.Views.MovieSelectionPage">```

try to remove spaces
just
```   x:Class="arcthouchapply.Views.MovieSelectionPage">```

[2019-03-14 17:01] jbravobr commented on #22
The spaces it's just the formating style of the code, but I'll try it

On Thu, Mar 14, 2019 at 1:58 PM Andrei <notifications@github.com> wrote:

[2019-03-15 11:23] ChasakisD opened #39 "[Bug] Grid Row/Columns are not cleared"
If a page has a Grid with 2 ColumnDefinitions set to Star, then after reloading, the Grid will have 4 ColumnDefinitions and the layout will shrink to those first two columns.

[2019-03-15 11:43] AndreiMisiukevich commented on #39
Cool) nice catch :)
Will check

[2019-03-16 19:10] stanbav commented on #33
Included in 1.1.0 release.
@MagicAndre1981

[2019-03-16 19:11] stanbav commented on #29
Included in 1.1.0 release.
@MagicAndre1981, @ChasakisD

[2019-03-16 19:11] stanbav commented on #26
Fixed in 1.1.0 release.

[2019-03-16 19:16] #33 closed

[2019-03-16 19:16] #29 closed

[2019-03-16 19:16] #26 closed

[2019-03-16 19:57] ChasakisD opened #40 "[Bug] VS Extension did not load correctly on v1.1.0"
After updating to version 1.1.0 the extensions does not load. Tried uninstall and reinstall but same.

#### The warning:
![image](https://user-images.githubusercontent.com/23040695/54480809-dffee000-4835-11e9-8c2f-20502194e095.png)

#### From ActivityLog.xml
![image](https://user-images.githubusercontent.com/23040695/54480825-163c5f80-4836-11e9-83f8-14317fa8a92a.png)

[2019-03-17 04:53] stanbav commented on #40
Thanks for bug report @ChasakisD
Please try to update to 1.1.1 version

[2019-03-17 12:02] MagicAndre1981 commented on #26
ok, now I get a new warning:

![image](https://user-images.githubusercontent.com/8274816/54490235-622de980-48b4-11e9-85fd-a3cfbf41777e.png)

![image](https://user-images.githubusercontent.com/8274816/54490286-d49ec980-48b4-11e9-811b-5804ca9df48b.png)

[2019-03-17 12:40] MagicAndre1981 commented on #33
ok, I see it, but only shortly. Next I saw the [message that VS was unresponsive](https://github.com/AndreiMisiukevich/HotReload/issues/26#issuecomment-473658881) and not the bar is gone

[2019-03-17 13:10] ChasakisD commented on #40
It does not throw the exception anymore, but the icon is not appearing.

![image](https://user-images.githubusercontent.com/23040695/54491373-c48fe580-48c6-11e9-855f-13f6209cadb2.png)

[2019-03-17 14:10] stanbav commented on #33
@MagicAndre1981 going to revert this functionality in 1.1.2 and test again - please update to 1.1.2.

[2019-03-17 14:13] stanbav commented on #40
@ChasakisD could you post/send a hierarchy of your solution ? Or you can mail me this solution if it's just a test project.
Reverted some functionality that could cause this issue - please updated to 1.1.2

[2019-03-17 14:48] ChasakisD commented on #40
It is very weird. When i open existing solutions the icon is not showing. When i created a new X.F. solution it is appearing.

[2019-03-17 14:52] #40 closed

[2019-03-17 16:12] stanbav commented on #40
@ChasakisD could you try to install this beta build and check whether it shows Hot reload button on all projects ?
[https://github.com/stanbav/HotReloadExtension-Beta/blob/master/Windows/Xamarin.Forms.HotReload.Extension.WinVS.vsix](url)

[2019-03-17 17:20] stanbav commented on #33
@MagicAndre1981 could you check this Beta build of extension ?
https://github.com/stanbav/HotReloadExtension-Beta/blob/master/Windows/Xamarin.Forms.HotReload.Extension.WinVS.vsix

[2019-03-17 18:05] ChasakisD commented on #40
@stanbav Beta version works fine on all of my current projects. :)

[2019-03-17 18:34] stanbav commented on #40
Nice 😀

[2019-03-17 19:19] AndreiMisiukevich commented on #40
Good job guys :)

[2019-03-18 08:18] MagicAndre1981 commented on #33
@stanbav with the new beta version VS2019 Preview no longer shows the perf warning for me

[2019-03-18 11:45] stanbav commented on #33
@MagicAndre1981 Nice. 1.1.3 will include this fix.

[2019-03-18 13:39] MagicAndre1981 commented on #33
@stanbav  great. do you have any idea why I can't connect Hotreload to local device/simulator UWP app? Remote device works fine.

[2019-03-18 14:31] stanbav commented on #33
@MagicAndre1981  Hmm, need to investigate that issue, could you create a ticket for this issue? so we don't forget about that.

[2019-03-18 14:47] MagicAndre1981 opened #41 "Hotreload can't connect to local device/simulator [UWP]"
when I start the app in Windows 10 1709 and click on the connect icon in toolbar I get a message that connection failed. I tried the local IP of the development VM and 127.0.0.1, but both fail to connect to the running app.

If I debug the app on Remote Device I can connect fine.

[2019-03-18 14:47] MagicAndre1981 commented on #33
done:

https://github.com/AndreiMisiukevich/HotReload/issues/41

[2019-03-18 14:53] stanbav commented on #33
Thanks !

[2019-03-18 16:13] thiagoparabas opened #42 "[BUG] ContentView in ContentPage"
When you have a contentview (xmal in another file) inside a contentpage and save the contentview, the screen goes white, not updating.

On android and iOS.

[2019-03-18 16:24] ChasakisD commented on #42
I can confirm that this issue is happening some times, specially when you manually layout the views from the xaml.cs

[2019-03-19 07:18] MagicAndre1981 commented on #33
@stanbav

there is a bug:

![image](https://user-images.githubusercontent.com/8274816/54587059-3ed37d80-4a1f-11e9-9537-a1cde9baa2f7.png)

I enabled Hotreload via old school Toolbar icon click but the new yellow bar is not going away. Also it would be nice to only show it over an opend XAML file like LiveReload does.

[2019-03-19 08:19] AndreiMisiukevich commented on #42
Hey guys, could you please provide small sample with exact steps for reproducing it?

[2019-03-19 08:20] AndreiMisiukevich commented on #42
Are you sure, that you don't make any mistake in xaml file? (Check application output)

[2019-03-19 09:37] MagicAndre1981 commented on #41
@stanbav

the [Simulator](https://docs.microsoft.com/en-us/visualstudio/debugger/run-windows-store-apps-in-the-simulator?view=vs-2017) is doing a "remote connection" so logging in a 2nd user and displays this desktop in a Tablet looking UI Window where I can rotate the screen , test different resolutions to see if the app looks good. It would be really nice to get Hotreload working for this.

[2019-03-19 16:25] stanbav commented on #33
@MagicAndre1981 good idea, will fix it in future releases.

[2019-03-19 16:28] stanbav commented on #41
@MagicAndre1981 will test it to see whether it's possible

[2019-03-19 19:39] MagicAndre1981 commented on #38
it would be nice to make comments for the IP (device name, Phone XYZ) so that I can remember what IP is used by which device

[2019-03-20 10:48] ChasakisD opened #43 "[Enhancement] Automatic Network Discovery"
It would be nice the client(mobile app) could send UDP Broadcast messages in a specified port(e.g. 8000) and the server(Visual Studio) could listen into this port. By doing that, you do not have to worry when the ip address is changed, and you do not need to check your mobile ip address.

The mobile app could send a udp broadcast every 5-10 seconds. Visual studio will catch those and inside the Ho

[2019-03-20 11:50] ChasakisD commented on #43
For the reloader part, i could work on sending udb broadcats until a connection is established.

[2019-03-20 13:50] MagicAndre1981 commented on #43
The idea is great, but **don't do polling**!

The VS extension should send a UDP broadcast when you click on the Icon in the toolbar or the yellow bar, wait for a response of the apps in the local network that implement Hotreload. In the response the app should send the IP of the device via some device info (OS, name/model maybe Xamarin.Essentials can give all data) that the extension can display

[2019-03-20 14:01] MagicAndre1981 commented on #38
Implementing https://github.com/AndreiMisiukevich/HotReload/issues/43 would make this obsolete. I would prefer the automatic discovery option from the other issue.

[2019-03-20 15:42] ChasakisD commented on #43
@MagicAndre1981 I actually think that this is better option. UDP Broadcast must be sent from the Visual Studio. Open source the extension so we can contribute! :)

[2019-03-21 06:31] stanbav commented on #43
@ChasakisD planning to open source it soon, just need to refactor a bit at first :)

[2019-03-21 07:17] MagicAndre1981 commented on #43
The remote debug dialog is a good way to do it:

![image](https://user-images.githubusercontent.com/8274816/54737650-57739d00-4bb1-11e9-8794-6eb4c06b4f9b.png)

it shows my Toshiba Tablet (with Windows Buildnumberand cpu archtiecture),  my Lumia 950 XL phone ( which I can't use with Xamarin.Forms any longer do to stuck at Build 15254 with no .net standard 2.0 support) and adds an option to add your

[2019-03-24 01:05] AndreiMisiukevich commented on #42
Need sample
cannot reproduce.

[2019-03-24 01:05] #42 closed

[2019-03-24 01:05] #39 closed

[2019-03-24 23:20] AndreiMisiukevich opened #44 "ViewCell files support"
I'd like to see such feature too

[2019-03-25 00:30] AndreiMisiukevich commented on #44
Check Readme file for more info

[2019-03-25 00:30] #44 closed

[2019-03-25 16:10] thiagoparabas opened #45 "Save app.xaml all components hide"
When save app.xaml, all controls as button, labels, etc... all vanish....

[2019-03-25 21:17] AndreiMisiukevich commented on #45
@thiagoparabas hi
Could you please provide small sample?

[2019-03-26 08:41] Unlonlyness opened #46 "Address already use"
when I start project from iOS,  There is an exception " Address already use".

but android doesn't

UPD:

[code]

[2019-03-26 08:44] AndreiMisiukevich commented on #46
@Unlonlyness try to change port from 8000 to 8080 or 8081

[2019-03-26 08:55] Unlonlyness commented on #46
Thanks for reply!
It doesn't work.
Before I start project form iOS,  I use  the command "netstat -na | grep 8081" or "netstat -na | grep xxxx" shows nothing.
when I start project. The exception comes.
I use  the command "netstat -na | grep 8081" or "netstat -na | grep xxxx" again. It shows the port already in use.
Whatever the port I change to. The exception always stays here.

[2019-03-26 08:58] AndreiMisiukevich commented on #46
hmmm... good question.
Does it work on simulator?

[2019-03-26 09:21] Unlonlyness commented on #46
@AndreiMisiukevich
No. It doesn't  work on simulator.

[2019-03-26 09:24] AndreiMisiukevich commented on #46
hmmm.. i don't think that can reproduce this issue.
need to investigate https://stackoverflow.com/questions/45271755/udp-address-already-in-use-xamarin

[2019-03-26 09:25] AndreiMisiukevich commented on #46
wait pls
How did you change port?

[2019-03-26 09:26] AndreiMisiukevich commented on #46
```HotReloader.Current.Start(this, 8080);```

And the same port in extension

[2019-03-26 10:05] CamelCaseMaster opened #47 "System.Net.HttpListenerException: Prefix already in use"
@AndreiMisiukevich This happens if app goes to bg and bring it back to foreground
------
[code]

[2019-03-26 10:09] Unlonlyness commented on #46
@AndreiMisiukevich
now,I can start iOS project.  I do what you show.
when I click "enable extension" . there is a waring :  error on trying to connect occured. check that entered IP is correct or device screen is unlocked  and app running in foreground.

[2019-03-26 10:11] CamelCaseMaster commented on #47
I tried the fix mentioned on this issue no success
------
Possible duplicate of https://github.com/AndreiMisiukevich/HotReload/issues/46

[2019-03-26 10:11] #47 closed

[2019-03-26 10:11] Unlonlyness commented on #46
@AndreiMisiukevich
Sorry. I made a mistake... the port is not same with code in program.

Now. HotReload is working. Thx!

[2019-03-26 10:15] CamelCaseMaster commented on #46
@Unlonlyness  http://prntscr.com/n3217a same ports, same problem over here

[2019-03-26 10:20] Unlonlyness commented on #46
@CamelCaseMaster
thank you  very much!

[2019-03-26 10:28] AndreiMisiukevich commented on #46
So, guys, works fine?

[2019-03-26 11:02] CamelCaseMaster commented on #46
@AndreiMisiukevich NO, for the moment being, i'm only silently catching the exception so I can work

[2019-03-26 11:08] AndreiMisiukevich commented on #46
@CamelCaseMaster do you use real iOS device, correct?

[2019-03-26 11:15] CamelCaseMaster commented on #46
@AndreiMisiukevich Correct, but I use an Android device

[2019-03-26 11:21] AndreiMisiukevich commented on #46
@CamelCaseMaster try to force stop the App please (or just remove it from device and install again).. Maybe daemon thread isn't died...

[2019-03-26 11:22] AndreiMisiukevich commented on #46
smth similar https://github.com/dotnet/corefx/issues/25016

[2019-03-26 11:23] AndreiMisiukevich commented on #46
Some info https://stackoverflow.com/questions/29714055/system-net-httplistenerexception-failed-to-listen-on-prefix-http-localhost8

[2019-03-26 11:26] AndreiMisiukevich commented on #46
@CamelCaseMaster so, hot reload doesn't work for you? (if you suppress exception)

[2019-03-26 11:30] CamelCaseMaster commented on #46
@AndreiMisiukevich That's correct, suppressing exception disables the HotReload. Removing & reinstalling the app doesn't work.

[2019-03-26 12:21] AndreiMisiukevich commented on #46
@CamelCaseMaster try this https://stackoverflow.com/questions/4019466/httplistener-access-denied

[2019-03-26 15:33] MagicAndre1981 commented on #41
can you repro this issue?

[2019-03-27 06:58] Unlonlyness commented on #46
@AndreiMisiukevich
It works fine! now

[2019-03-27 11:25] #46 closed

[2019-03-27 11:26] AndreiMisiukevich commented on #46
Anyway you could try with other ports

5555 or any else

[2019-03-27 11:28] AndreiMisiukevich commented on #45
Unfortunately, i cannot reproduce it

Are you sure that you don't make mistakes in files?

[2019-03-27 11:28] #45 closed

[2019-03-27 11:29] AndreiMisiukevich commented on #41
@MagicAndre1981 maybe you would like to debug this case ?
i think it's smt on reloader side, no?

I don't have Win PC :(

[2019-03-27 11:48] MagicAndre1981 commented on #41
download and run the provided VM in parallels/Vmware:

https://developer.microsoft.com/en-US/windows/downloads/virtual-machines

[2019-03-29 06:44] MagicAndre1981 commented on #41
how I can help to debug it? The extension and reloader need to add log details to debug/output window

[2019-03-29 06:46] MagicAndre1981 opened #48 "Extension: only show Toolbar when XF project is open"
When I start my VS2017 I'm often confused why there is an empty toolbar icon

![image](https://user-images.githubusercontent.com/8274816/55214317-9ed3dc00-51f6-11e9-93e2-562b4d1f25b0.png)

until I notice this is Hotreload Connect Icon. Display it only when a project is loaded that targets Xamarin.Forms

[2019-03-29 07:20] AndreiMisiukevich commented on #48
Yes, I think it makes sense

[2019-03-29 08:35] AndreiMisiukevich commented on #41
@MagicAndre1981 wait please. I hope @stanbav will contribute full code of extensions soon :)

[2019-03-29 08:35] AndreiMisiukevich commented on #48
@stanbav what do you think?

[2019-03-29 09:05] MagicAndre1981 commented on #41
if you merge my PR I could step into the client code to see more.

[2019-03-29 09:40] AndreiMisiukevich commented on #41
@MagicAndre1981 but what stops you to create local nuget ?

[2019-03-29 11:44] MagicAndre1981 commented on #41
I don't want to maintain my fork and merge your changes all the time

[2019-03-29 13:34] KCemK opened #49 "Better Installation&Activation documentation needed"
Hi,
It may be a great tool., really promising.
However, after 2 hours of work, I could not run it.

Many points are not clear:

-Main logic ? What is for this IP setting ?
-Do I need install Nuget Package besides installing VS extension ? (It seems so).
-Should I add IReloadable interface to every page ?
-if so, what should I implement in OnLoaded()
-What happens in production version ? should I r

[2019-03-29 14:31] MagicAndre1981 commented on #49
1. install the VS extension
2. install the nuget packages to shared code and all projects (Android, iOS, UWP)
3. add this to App constructor of shared project

[code]
4. look for IP of your target device (phone, tablet)
5. compile and run the app
6. in VS connect dialog enter the IP of the device and click connect
7. navigate to the page you want to edit in your app, now open that page in VS and e

[2019-03-29 14:42] AndreiMisiukevich commented on #49
@MagicAndre1981 thanks)

[2019-03-30 14:21] stanbav commented on #48
Yes, that's something that should be fixed.)

[2019-03-30 15:06] vincentcastagna commented on #49
You can add this to the documentation imo. I think a PR would be overkill for that .

Get target device's IP easily :

- Open adb command prompt
- Run command `adb shell `
- Run command `ip -f inet addr show wlan0`

[2019-03-30 19:41] AndreiMisiukevich commented on #49
@vincentcastagna feel free to create PR)

[2019-04-01 12:24] fileman commented on #49
@MagicAndre1981 have you tried with VS 2019 RC.4 ?

[2019-04-01 12:37] stanbav commented on #41
@MagicAndre1981, @AndreiMisiukevich going to check in source code of the extension these week.

[2019-04-01 17:20] MagicAndre1981 commented on #41
@stanbav

add some Eventsource debug code, this is easier.

[code]

 Post it this way

[code]

I can easily capture those messages with Perfview/WPR.exe and look what happens.

[2019-04-01 17:58] KCemK commented on #49
Until now, I have tried Xamarin's own Live Player & Gorilla & XAML Live. and left the all tree during installation.
Mentioned steps are OK, but it is still not working.
Simply nothing is happening.
In fact, I can't understand its working logic. Will it work while the app running and allow to modify XAML ?
If I can run it, promise, I will contribute the project with a good Quick Start documentation

[2019-04-01 18:01] MagicAndre1981 commented on #49
yes, you run the app on the target device and navigate to the page, click on connect button in VS and now modify the XAML in VS

[2019-04-02 19:33] Clancey opened #50 "VS4Mac 2019 support"
VS4 mac 2019 uses Monodevelop.Core 8.0. This package depends on 7.8.3.

[2019-04-02 20:38] AndreiMisiukevich commented on #50
http://addins.monodevelop.com/Project/Index/376

Use version 1.1.0

[2019-04-03 14:15] InquisitorJax opened #51 "Exception when there is a resource defined in a listview template view (android)"
### STR
- define list view with a data template that is in a separate ContentView file
- in the template view, define a resource in the ContentView.Resources
- change something in the template view xaml
- Exception is thrown when hot reload activates - something along the lines of "resource [resourcekey] has already been added"

### Work-around
- adding the resource to the container of the content

[2019-04-03 14:26] AndreiMisiukevich commented on #51
@InquisitorJax thanks a lot for you report :)

it would be nice to have small sample

[2019-04-03 14:27] InquisitorJax commented on #51
I'll see if I can get to it this evening when I'm not on the clock :)

[2019-04-03 22:53] InquisitorJax commented on #51
I think I may have found the issue - although I couldn't repro exactly.
I had a copy of the content view xaml commented our below the actual xaml (older version of the content view)
The commented code also had a resource with a key defined in the content view - I'm guessing hotreload doesn't detect that this is commented code, and attempts to add duplicate resource keys.
This is such an edge case,

[2019-04-03 22:53] #51 closed

[2019-04-04 17:55] baranpirincal commented on #28
Hey @AndreiMisiukevich :)

I think you wanted something like that:

![hotreload](https://user-images.githubusercontent.com/37786733/55577140-847c8f80-571b-11e9-8e33-9f66fa2a0502.jpg)

If you agree with that, I can work more on that and make more characteristic. I am waiting your opinion! :)

[2019-04-04 21:04] AndreiMisiukevich commented on #28
@baranpirincal yeah! it look amazing!
It would be great to have this icon with text and without!)

[2019-04-05 11:10] AndreiMisiukevich commented on #50
@Clancey try to download it directly and install as local file.

@stanbav have you got any ideas, why it can be invisible?

[2019-04-05 11:11] AndreiMisiukevich commented on #41
@stanbav hope extensions will be available soon :)

[2019-04-05 11:16] stanbav commented on #50
No ideas. :( I do see it in VS for Mac 2019

[2019-04-05 11:19] stanbav commented on #41
@MagicAndre1981 going to check in source code of the extension today or tomorrow,  so you can debug it yourself and contribute ;)

[2019-04-05 11:20] AndreiMisiukevich commented on #50
@stanbav

![image](https://user-images.githubusercontent.com/10124814/55624202-dec63080-57ad-11e9-94f8-1eed23a73976.png)

But i am on 7.8.x version. So, maybe it's ok

[2019-04-05 11:21] AndreiMisiukevich commented on #50
@Clancey so, download please version 1.1.0 as file through the link above.

[2019-04-05 11:21] #50 closed

[2019-04-05 11:22] AndreiMisiukevich commented on #41
@stanbav happy days :)

[2019-04-05 11:54] stanbav commented on #38
@AndreiMisiukevich I think we can close it and concentrate on https://github.com/AndreiMisiukevich/HotReload/issues/43.

[2019-04-05 12:03] vincentcastagna commented on #49
@KCemK have you checked [this ](https://github.com/AndreiMisiukevich/HotReload#android-emulator)?

[2019-04-05 12:04] #38 closed

[2019-04-05 13:28] MagicAndre1981 commented on #41
ok, hopefully you use nuget packages for all VS SDK related files, so that I can build it without hassle.

[2019-04-05 13:29] MagicAndre1981 commented on #38
@stanbav I agree with this.

[2019-04-06 04:44] ChaseFlorell opened #53 "Support Design Time Data"
It would be great if this could support Design Time Data akin to what the previewer can do.

More info can be foud here.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/xaml-previewer/design-time-data

[2019-04-06 04:46] ChaseFlorell opened #54 "Jetbrains Rider Plugin"
Consideration for implementing a Rider plugin for easier addition.

https://blog.jetbrains.com/dotnet/2017/02/07/rider-front-end-plugin-development/

[2019-04-06 08:33] AndreiMisiukevich commented on #54
Hi, does not Mac plugin work for Rider ?

[2019-04-06 08:33] AndreiMisiukevich commented on #54
Try to download it as file and install

Just interesting

[2019-04-06 08:35] stanbav commented on #41
@MagicAndre1981 extension source code is here.:)

[2019-04-06 08:42] AndreiMisiukevich commented on #53
@ChaseFlorell hmm.. don't think, we can achieve it (since HotReload is not kind of previewer. It's real live reload. And you should test with real data (and it makes much more sense :])

[2019-04-06 08:43] #53 closed

[2019-04-06 08:54] AndreiMisiukevich commented on #54
good point :)

[2019-04-06 08:54] AndreiMisiukevich commented on #54
good point :)

[2019-04-06 09:31] iBavtovich commented on #54
Hi, guys! I can help you with developing HotReload plugin for Rider :)

[2019-04-06 09:33] AndreiMisiukevich commented on #54
@iBavtovich hi
Would be amazing )

[2019-04-06 09:48] MagicAndre1981 commented on #41
@stanbav ok, I can compile it. But how can I now debug it?

[2019-04-06 10:03] MagicAndre1981 commented on #41
please add my small code and call it, this is easier than trying to understand your code.

Also look for the pending nuget updates and warnings that VS generates.

[2019-04-06 10:33] stanbav commented on #41
@MagicAndre1981 okay, will try to debug it on UWP mysef at first. Let's see.

[2019-04-06 14:06] MagicAndre1981 commented on #41
When I debug the extension in the experimental instance, the UWP app never starts. I gave it up. Please add the better EventSource way to write Debug messages.

[2019-04-06 15:53] stanbav commented on #41
@MagicAndre1981
It's not possible to communicate with the Http listener in UWP app within the same machine.
https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh780593(v=win.10)#enable-loopback-for-network-access "Further, a Windows Runtime app can use an IP loopback only as the target address for a client network request."

But if you try to connect from another windows machine in yo

[2019-04-06 19:10] MagicAndre1981 commented on #41
I have that already set and allowed my app to use localhost loopback. this works fine and I my UWP app can communicate to the SignalR server on the same VM

[2019-04-06 20:13] MagicAndre1981 commented on #41
why is this closed? As I said it is activated!

[2019-04-07 09:03] stanbav commented on #43
@ChasakisD extension code is here :)

[2019-04-07 10:05] stanbav commented on #48
Fixed in https://github.com/AndreiMisiukevich/HotReload/commit/d24ea31dc0c3751a2c13ff3dcdba82794893cd60. Will be included in next release (1.2.0).

[2019-04-07 10:05] #48 closed

[2019-04-07 10:16] AndreiMisiukevich commented on #49
@KCemK

![image](https://user-images.githubusercontent.com/10124814/55682070-c46b8e80-5936-11e9-8dfa-bbae23b8b4e6.png)

![image](https://user-images.githubusercontent.com/10124814/55682073-d2b9aa80-5936-11e9-97ca-d327d6e4b304.png)

Your should start on the same port (default is 8000)

So, change it in code to 5555

![image](https://user-images.githubusercontent.com/10124814/55682100-29bf7f80-5937-

[2019-04-07 10:16] #49 closed

[2019-04-07 10:23] AndreiMisiukevich commented on #41
@MagicAndre1981
Well, our main point is: we are not keen to add some extra package references (such as SignalR or something else)

Have you got ideas how can we work around this limitation?

[2019-04-07 10:24] AndreiMisiukevich commented on #28
@stanbav do you like it too ?)

@baranpirincal

[2019-04-07 10:38] scriptBoris opened #55 "HotReload not reload if use ReSharper"
Hello! I found error when I try to reload the XAML page then Android app got white display.

I use ReSharper from JetBrains, my XAML code started:
[code]
This above code can link View with ViewModel for IntelliSense. And that thing is "must have"!
How use ReSharper (d, m, DataContext) and HotReload?
Regards, your user.

[2019-04-07 10:41] AndreiMisiukevich commented on #55
@scriptBoris could you please create small sample?
it would be awesome.

Thanks

[2019-04-07 10:44] scriptBoris commented on #55
I can create youtube video. 5 min...

[2019-04-07 10:46] AndreiMisiukevich commented on #55
@scriptBoris sample would be better :)
Just small project which demonstrates this issue

[2019-04-07 10:59] scriptBoris commented on #55
video: https://drive.google.com/open?id=1qZaBxdrb8VxVmj8cRQKWWHykmAccYdth
Youtube is slowpoke.

[2019-04-07 11:17] AndreiMisiukevich commented on #55
@scriptBoris that is why i highly need sample :)

I saw 2 bugs

1) Mater pages isn't reloaded
2) Issue which was described by you (btw, you can check application output, i wonder if HotReloader wrote smth there)

So, will you be able to create small sample project?

[2019-04-07 13:17] ChasakisD commented on #55
The problem is with the d:DataContext. I am having the same issue. Resharper cannot recognize the viewmodel using the x:DataType so you have to use the d: DataContext. If you remove this live it will reload perfectly

[2019-04-08 01:44] scriptBoris commented on #55
I dont use x:DataType.

[2019-04-08 01:49] scriptBoris commented on #55
Eah, just wait some time. I will create simple project Xamarin Forms with ReSharper(he allow use d, mc, DataContext for IntelliSense) and HotReload.

[2019-04-08 06:38] MagicAndre1981 commented on #41
I don't want to add extra packages, I only said that connecting from UWP to a HTTP service on same machine works if you tell this to the app (in my case I run a selfhosted (command line tool) SignalR server and connect fine to it)

![image](https://user-images.githubusercontent.com/8274816/55702926-64c5bf80-59d8-11e9-8ea0-ebf33579e225.png)

if you have Fiddler installed, run `%localappdata%\Progra

[2019-04-08 06:44] MagicAndre1981 commented on #41
@stanbav

It is also documented in [recent docs](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/deploying-and-debugging-uwp-apps#debugging-options):

[2019-04-08 08:50] stanbav commented on #41
@MagicAndre1981 if I understand you correctly - you are connecting from UWP to PC. In our case we need the other  way around - from PC to UWP.
Anyway we would like to have a sample from you when server is running in UWP application and connecting to it from PC :)

[2019-04-08 10:06] stanbav commented on #28
@AndreiMisiukevich looks good :)

[2019-04-09 08:44] AndreiMisiukevich commented on #55
@scriptBoris btw, could you please fill separate bug with master detail page?

[2019-04-12 21:37] AndreiMisiukevich commented on #28
Look forward to see final result :)

[2019-04-17 22:54] AndreiMisiukevich commented on #28
@baranpirincal hey :)

[2019-04-20 19:48] jbravobr commented on #22
@AndreiMisiukevich sorry for the delay, but it's works! Thanks

[2019-04-25 12:42] danielccunha opened #56 "HotReload not realod ListView items"
Hello, I found an error using HotReload that I'm assume is very annoying and many will experience it.

The problem is basically that **ListView** doesn't reload its items when a change is made in the page. When I first load the page, the items are load, but when I change a single property, the page reload and I lost the items.

Hope you can solve it. Excellent plugin by the way, I'm loving it.

[2019-04-25 13:42] AndreiMisiukevich commented on #56
@danielccunha Hi :) thanks for feedback
could you please prepare small sample for reproducing this issue ?
because i have such sample and it works fine.

Thx

[2019-04-25 15:44] danielccunha commented on #56
Here's a gif of the issue, but I think I've already discovered the problem. When I was creating this layout I was working with the code-behind, without ViewModels, and for initializing the ListView I was doing it in the constructor. But when I changed it to the ViewModel the bug didn't happen again.

![bug](https://user-images.githubusercontent.com/32555455/56748987-3a555f80-6757-11e9-85fa-35ae37b

[2019-04-26 08:12] AndreiMisiukevich commented on #56
Yeah, in those cases when you don't work with bindings and want to have live-reloading, you should go ahead with IReloadable interface. More info  https://github.com/AndreiMisiukevich/HotReload#run-your-app-and-start-developing-with-hotreload

[2019-04-26 08:12] #56 closed

[2019-04-29 16:09] baranpirincal commented on #28
![hotreload1](https://user-images.githubusercontent.com/37786733/56910087-5c7e1300-6ab2-11e9-8d5b-a233d4471599.jpg)

[2019-04-29 16:25] baranpirincal commented on #28
Hey again, sorry I was too busy last weeks.

I prefer to use last variation of logo design, what do you think about it?

[2019-04-30 08:09] AndreiMisiukevich commented on #28
@baranpirincal wow !) Looks amazing

[2019-04-30 08:20] baranpirincal commented on #28
@AndreiMisiukevich

Thanks! I am happy that you liked it.

I can upload the logo design in several format on repository and send a pull-request if you completely okay for that one.

![asas](https://user-images.githubusercontent.com/37786733/56948821-f9d05a00-6b39-11e9-9bea-ad3cbffef545.jpg)

[2019-04-30 08:24] AndreiMisiukevich commented on #28
@baranpirincal yeah, it would be awesome!

Could you please send several formats (including colored and white-black as well)

Super star ! :) You rock!

[2019-04-30 14:19] baranpirincal commented on #28
@AndreiMisiukevich

Thank you for your nice words!
I uploaded the logo design as svg/pdf/png/jpg

Good luck!

[2019-05-01 09:49] scharada opened #60 "XF 4 support ?"
i see it supports XF 3.6  only, any plan for XF 4 ?
nuget package does not even install in the netstandard project (it installs but disappears ) using VS 2019.

when added manually to the project, it stays but does not work.

[2019-05-01 11:21] AndreiMisiukevich commented on #60
Hi
Hmmm, interesting

Small sample please

[2019-05-02 05:56] MagicAndre1981 commented on #33
@stanbav and ETA for a fix? I still have this yellow bar in 1.2.0 even if I'm connected and I would still prefer a smaller bar over an opend XAML file.

[2019-05-03 13:28] AndreiMisiukevich commented on #24
1.2.6

[2019-05-03 13:28] #24 closed

[2019-05-03 13:28] AndreiMisiukevich commented on #28
@baranpirincal great job!

[2019-05-03 13:28] #28 closed

[2019-05-05 08:46] AndreiMisiukevich commented on #60
Tested with XF 4 project
Seems to be working (except Shell)
So could you please provide me small sample

[2019-05-06 11:21] SagarPanwala opened #61 "not able to style dynamic created content"
I know there is a IReloadable interface, I used it or may be wrongly, but I have 1 code which creates view dynamically inside ViewAppear. After changing style of otherview inside same page, my dynamic view disappearing.

[2019-05-06 11:33] SagarPanwala opened #62 "App crashing when changing color inside ViewCell"

[2019-05-06 13:43] AndreiMisiukevich commented on #62
Hi
What color do you mean?

[2019-05-07 13:58] AndreiMisiukevich commented on #62
?

[2019-05-08 21:28] AndreiMisiukevich commented on #62
Any info please

[2019-05-08 21:31] AndreiMisiukevich commented on #61
Yes, of course.
You need to call that code in OnLoaded method of IReloadable interface.

HotReload doesn't update code. Xaml and css only

[2019-05-08 21:31] #61 closed

[2019-05-08 21:32] AndreiMisiukevich commented on #54
So, currently Rider lovers can use console app instead of extension (info is in Readme fill)

[2019-05-09 03:45] SagarPanwala commented on #61
Suppose,

I created some controls on button click, then try to change other controls
with hot reload, my dynamic control will be gone, in this case.

On Thu, 9 May 2019, 3:01 a.m. Andrei, <notifications@github.com> wrote:

[2019-05-09 07:17] AndreiMisiukevich commented on #61
@SagarPanwala well, you can restore needed controls OnLoaded.

Create needed controls by yourself )

You should keep in mind, that HotReload redraws whole xaml element

[2019-05-09 22:03] #62 closed

[2019-05-09 22:04] #60 closed

[2019-05-11 21:23] AndreiMisiukevich commented on #55
@scriptBoris hey :) could you pls provide sample ?:)

[2019-05-17 03:55] dely17 opened #63 "Not working with grid"
hey the hotreloaded ain't corresponding with my grid layout ,when i press save everything turns white except does that are outside the grid

[2019-05-17 04:57] AndreiMisiukevich commented on #63
Show me your xaml
I think you make mistake in xaml

[2019-05-17 05:01] dely17 commented on #63
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
              NavigationPage.HasNavigationBar="False"
             x:Class="Emarald.Menu">
    <AbsoluteLayout  >
        <Image x:Name="BackGround" ScaleX="2"  AbsoluteLayout.LayoutBounds="0,0,1,1" AbsoluteLayout.LayoutFlags="All"/>

[2019-05-17 05:03] dely17 commented on #63
[Eme.txt](https://github.com/AndreiMisiukevich/HotReload/files/3189942/Eme.txt)

[2019-05-17 08:01] AndreiMisiukevich commented on #63
@dely17 are you able to create small sample page with this issue ?

[2019-05-17 10:47] AndreiMisiukevich commented on #63
Cannot reproduce

![May-17-2019 13-44-02-min](https://user-images.githubusercontent.com/10124814/57923181-3aee9b00-78aa-11e9-8220-933b59fc48dc.gif)

Make sure, that you write your xaml without errors (Check application output after reloading. HotReload says, if something is wrong)

[2019-05-17 10:52] AndreiMisiukevich commented on #63
So, make sure you don't make mistakes. Or provide sample and steps for replicating

[2019-05-17 10:52] #63 closed

[2019-05-24 04:49] DanielAHill opened #64 "CSS Stylesheet doesn't automatically reload when included in App.xaml"
Using the sample app, if we move the StyleSheet reference from the page*.xaml files into the App.xaml file, changes to the CSS do are not reloaded.

To replicate, on a Windows Android Simulator, I loaded the sample app, navigated to Thanos, then changed the .TeamLabel color and saved. Notice the color does not change.

If I hit the back button. Then tap on Thanos again, the color change is now vis

[2019-05-28 00:39] ionixjunior commented on #64
This problem occurs with any resources located in App.xaml.

I added a new color and tried referencing it in the page and the problem occurs.

![hotreload_issue](https://user-images.githubusercontent.com/519642/58443199-db249b00-80c6-11e9-994b-93d21ae3298e.gif)

[2019-05-28 08:30] AndreiMisiukevich commented on #64
@ionixjunior thank you for GIF

I will check

[2019-05-31 23:00] AndreiMisiukevich commented on #43
@stanbav check code in console app :) i think we can add autodiscovery feature

[2019-05-31 23:33] AndreiMisiukevich commented on #64
Hey guys, I found the reason, I think

It will be fixed and delivered soon (I hope on this weekend)

[2019-05-31 23:35] AndreiMisiukevich commented on #55
ping

[2019-06-02 22:26] AndreiMisiukevich commented on #64
v.1.3.0

[2019-06-02 22:26] #64 closed

[2019-06-03 15:14] ionixjunior commented on #64
Works perfectly! Thank you!

[2019-06-04 15:41] JohnHMP opened #65 "Small usability improvement: When entering an ip address, automatically select the entire contents of the current text box"

[2019-06-04 16:55] AndreiMisiukevich commented on #65
Hi, in very short time you won't need to enter ip at all :)

https://github.com/AndreiMisiukevich/HotReload/issues/43

[2019-06-04 16:55] #65 closed

[2019-06-05 09:09] JohnHMP commented on #65
I realised that after reading the other issues! :)
How long do you think?

[2019-06-05 09:22] AndreiMisiukevich commented on #65
@JohnHMP we are planning release on this week. Maybe next

[2019-06-06 11:51] AndreiMisiukevich opened #66 "[Housekeeping] Set up CI/CD via Azure DevOps pipelines"
Like it was done for https://github.com/AndreiMisiukevich/TouchEffect

[2019-06-07 20:49] AndreiMisiukevich commented on #55
seems
             xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
             xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
             mc:Ignorable="d"

don't cause error

[2019-06-07 21:10] AndreiMisiukevich commented on #55
will be available in the next release (1-2 weeks)

[2019-06-07 21:10] #55 closed

[2019-06-09 21:29] #54 closed

[2019-06-09 21:30] AndreiMisiukevich commented on #54
will be released on the next week and announced on my twitter https://twitter.com/Andrik_Just4Fun

[2019-06-11 12:13] MarMarIV opened #70 "Multiple VS instances"
Hi, after update with automatic IP detection, i have a problem at solution loading and multiple Visual Studio running instances:

SetSite failed for package [HotReloadPackage]Source: 'System'; Description: Only one usage of each socket address (protocol/network address/port) is normally permitted.

And when i run only one instance, it doesn't working too. Version 1.2.8 is working

VS: 2019 (16.1.2

[2019-06-11 12:17] AndreiMisiukevich commented on #70
@stanbav need to find solution for this.

[2019-06-11 12:24] AndreiMisiukevich commented on #70
Works fine with one VS instance on mac

[2019-06-11 12:26] AndreiMisiukevich commented on #70
@MarMarIV can you confirm that it doesn't work on windows with one instance of VS ?

Make sure you:
Run IDE, opened project, ENABLED extension and ONLY after that run simulator

[2019-06-11 12:38] AndreiMisiukevich commented on #70
@MarMarIV next release it won't be necessary to start extension BEFORE simulator/device.

[2019-06-11 12:46] AndreiMisiukevich commented on #43
delivered

[2019-06-11 12:46] #43 closed

[2019-06-11 13:23] uksreejith opened #71 "The "connection window" does not open on clicking the lightening icon in visual studio"

[2019-06-11 13:24] AndreiMisiukevich commented on #71
@uksreejith that's our new feature.

Does reloader work?

[2019-06-11 13:26] AndreiMisiukevich commented on #71
1) Open solution
2) Start extension by clicking lightening icon (it should become green)
3) Run your app with HotReload

Does it work?

[2019-06-11 13:52] uksreejith commented on #71
Oh.. Is it so? The extension got updated automatically without my knowledge. And the extension stopped doing its thing
How exactly is it supposed to work now? The VS extension will automatically detect the current running instance?
Updates to the XAML file are not visible on my emulator.

[2019-06-11 16:10] AndreiMisiukevich commented on #71
@uksreejith emulator ? Did you forward ports like readme file tells ?

[2019-06-11 16:48] uksreejith commented on #71
Yes. I am using Memu Play. I have forwarded the ports as per the read me. Everything was working fine till the extension got updated to version 1.3. This is how I setup my emulator:

1) adb kill-server
2) adb start-server
3) adb connect 127.0.0.1:21503
4) adb forward tcp:8000 tcp:8000

[2019-06-11 18:20] AndreiMisiukevich commented on #71
Does reloader work with real device ?

[2019-06-11 18:20] AndreiMisiukevich commented on #71
1) make lightening icon green
2) start app on real device

[2019-06-11 18:22] AndreiMisiukevich commented on #71
Why do you connect to 127.0.0.1:21503
But forward 8000 ports ??

[2019-06-11 20:53] stanbav commented on #70
@MarMarIV please check 1.3.2 version of extension. Issue related to busy port should be gone. And you can now work with multiple instances of VS

[2019-06-11 21:14] jbravobr commented on #71
Here the windows didn't open and Hot Reload don't work but it's shows ok in the Application Output
### AVAILABLE DEVICE's IP: Http://192.168.200.2:8000 ###
### AVAILABLE DEVICE's IP: Http://192.168.232.2:8000 ###
### HOTRELOAD STARTED ###

And I found this
#### HOTRELOAD COULD NOT FIND CellRenderer.RealCellProperty

Using Last version of VS4Mac and Xamarin Forms 4.1-pre

[2019-06-11 21:43] AndreiMisiukevich commented on #71
window shouldn't be opened anymore

[2019-06-12 00:11] AndreiMisiukevich commented on #71
@jbravobr @uksreejith
try latest version of nuget (1.3.1) and extension (1.3.2)

[2019-06-12 00:11] #71 closed

[2019-06-12 00:12] #70 closed

[2019-06-12 00:24] AndreiMisiukevich commented on #71
check readme again pls

[2019-06-12 02:00] IoTFier opened #72 "ver 1.3.1 doesn't show window with IP of connected iOS simulator, devices"
Hi @AndreiMisiukevich , thank you for keeping this hot reload package updated.
It really means a lot.

My env . VS 16.1.3 | Win 10 64 | iOS simulator Mac - Mac OS 10.14.5 | Xamarin Forms 4.1 pre1

I just updated to the new version 1.3.1 , but now I see the window showing my VS port # , but doesn't show IP addresses of my connected iOS simulator and device.

How do I get to that?

As a result, my X

[2019-06-12 05:58] MagicAndre1981 commented on #72
Update [VS Extension](https://github.com/AndreiMisiukevich/HotReload/issues/71#issuecomment-501070347)

[2019-06-12 05:58] scriptBoris commented on #72
Some problem occurred
![image](https://user-images.githubusercontent.com/29772096/59326778-33d87280-8d1a-11e9-9c7c-eaf761a726d1.png)

[2019-06-12 06:19] scriptBoris commented on #72
HotReload Nuget - 1.3.1
HotReload Extension - 1.3.2
Not work

[2019-06-12 06:29] MagicAndre1981 commented on #72
the new version [tries to automatically find the target](https://github.com/AndreiMisiukevich/HotReload/issues/43) and **no longer shows an UI**. For me it works and it detects my UWP part of XF app running on Tablet with remote debug.

[2019-06-12 06:31] MagicAndre1981 commented on #43
for me the detection works, but users are [confused about missing window](https://github.com/AndreiMisiukevich/HotReload/issues/72). Try to add a status message to extension after connect click that it tries to find devices where the app runs.

[2019-06-12 06:37] MagicAndre1981 commented on #43
or bring a window back like the remote debug dialog of VS where you see the automatically detected devices and manually add your own devices.

[2019-06-12 07:00] scriptBoris opened #73 "Extension 1.3.2 - not worked on Android Emulator"
HotReload nuget - 1.3.1
HotReload extension - 1.3.2
Android emulator - OS 9.0

Im use standard code init:
HotReloader.Current.Start(this);

1) launch emulator;

2) use adb comand:
adb forward tcp:8000 tcp:8000

3) run xamarin debug (F5)

4) In VS2019 change current view XAML

5) Press Alt + S

6) ...

7) Not PROFIT. Hot reload not reload

[2019-06-12 07:05] MagicAndre1981 commented on #73
don't post same issue several times. You already [comment here](https://github.com/AndreiMisiukevich/HotReload/issues/72) that it doesn't work

[2019-06-12 08:10] AndreiMisiukevich commented on #72
it isn't problem
HotReload tells you that it is running on port 15000
so, just call

```HotReloader.Current.Start(this);```

[2019-06-12 08:11] uksreejith commented on #71
Yes. It is working fine on the device. But when not on the emulator.

[2019-06-12 08:14] AndreiMisiukevich commented on #73
@stanbav could you please validate this case?

[2019-06-12 08:15] AndreiMisiukevich commented on #73
I think it's bug

[2019-06-12 08:19] scriptBoris commented on #73
I can give you more information, but I don't know what

[2019-06-12 08:19] AndreiMisiukevich commented on #71
@uksreejith thanks, we will try to solve this issue

[2019-06-12 08:19] AndreiMisiukevich commented on #71
@uksreejith it's opened as separate one

[2019-06-12 08:20] AndreiMisiukevich commented on #73
@scriptBoris you tested on android emulator, didn't you?

[2019-06-12 08:21] uksreejith commented on #71
"Why do you connect to 127.0.0.1:21503"?
That seems to be the way for ADB to connect to Memu Play. Please check https://stackoverflow.com/questions/38477795/how-to-use-adb-with-emulator-like-memu-bluestacks-nox-app-player

I have the following settings in the emulator's .meme file:

`<NAT>
            <Forwarding name="ADB" proto="1" hostip="127.0.0.1" hostport="21503" guestip="10.0.2.15" guestpor

[2019-06-12 08:21] AndreiMisiukevich commented on #72
so, there is an issue with android emulator. It's opened as separate one.

As for IP entering. We refused this step

[2019-06-12 08:21] #72 closed

[2019-06-12 08:22] uksreejith commented on #71
Cool.

[2019-06-12 08:22] scriptBoris commented on #73
@AndreiMisiukevich, yeah, android emulator

[2019-06-12 08:24] AndreiMisiukevich commented on #73
@scriptBoris this is a bug. Need to find the reason.

[2019-06-12 08:29] AndreiMisiukevich commented on #71
@uksreejith https://github.com/AndreiMisiukevich/HotReload/issues/73

[2019-06-12 08:30] uksreejith commented on #73
@AndreiMisiukevich In the mean time is it possible to download the older version of the vsix file from somewhere?

[2019-06-12 08:50] AndreiMisiukevich commented on #73
@uksreejith unfortunately not. But probably we will create archives and put them on github.
Sorry

[2019-06-12 08:54] scriptBoris commented on #73
@AndreiMisiukevich I think downgrade self extension & nuget package. Need link for download backup

[2019-06-12 08:55] AndreiMisiukevich commented on #73
@scriptBoris there is no such possibility on these stupid stores ))
nuget - yes
extension - no

[2019-06-12 09:11] scriptBoris commented on #73
@AndreiMisiukevich from my HDD.
HotReload Extension 1.2:
https://drive.google.com/file/d/1fBacG2enN8e0lOU_aA-O392_RWGz7ps7/view?usp=sharing

IMPORTANT
**Disable** autoupdate vs extension!

[2019-06-12 09:29] AndreiMisiukevich commented on #73
@scriptBoris why is it strange ? )

[2019-06-12 09:30] AndreiMisiukevich commented on #73
nuget package is backward compatible with all version of extensions

[2019-06-12 09:30] AndreiMisiukevich commented on #73
btw, i recommend to stay on nuget version 1.3.1

[2019-06-12 09:37] scriptBoris commented on #73
@AndreiMisiukevich yeah, im use newest nuget package - no problem.

[2019-06-12 14:49] jbravobr commented on #71
@AndreiMisiukevich I've updated the extension and try to use with a phone and it didn't work. Look into Application output I founded this : ### HOTRELOAD AUTODISCOVERY ERROR ###

[2019-06-12 16:40] IoTFier commented on #72
@AndreiMisiukevich, I don't see version 1.3.2 available in the VS marketplace or in the nuget package manager when I tried to update. Please don't close this issue until we get to agree on a working soln.

I am still not able to use it, even after calling the constructor version that takes the port number of my VS. Besides, it was a good feature to know IPs of our iOS simulator, Android and emulat

[2019-06-12 17:56] move3a commented on #73
Hi, some old extension for VS for mac? Thanks

[2019-06-12 20:08] epomeranz commented on #72
Hi Andrei,

Thanks for the awesome extension!

For me it does not work on a PHYSICAL DEVICE since upgrading to the version
My Setup: Pixel 3, VS 2019, windows, nuget 1.3.1, extension 1.3.2

[2019-06-13 01:28] scriptBoris commented on #73
@move3a oh sorry, i dont have hardware with MacOS

[2019-06-13 07:53] AndreiMisiukevich commented on #72
@epomeranz your devices and your PC with extension should use the same local network (WI-FI for example)

[2019-06-13 08:03] AndreiMisiukevich commented on #73
Hey guys, i'm going to resolve this issue today

[2019-06-13 11:34] Altevir commented on #73
Hi!

The same happens when the Device is used, if the port is 15001 the changes are not reflected, but with port 15000, everything works.

I'm using
HotReload Nuget - 1.3.1
HotReload Extension - 1.3.2
Device Motorola G6 - Android 9.0

[2019-06-13 13:45] AndreiMisiukevich commented on #72
Does HotReload work on UWP ??

[2019-06-13 13:46] AndreiMisiukevich commented on #73
fix will be delivered a little bit later and will require *NUGET* package update

[2019-06-13 13:52] MagicAndre1981 commented on #72
for me it worked fine for UWP. Hotreload detected the tablet (remote debug), connected fine and I was able to modify a XAML file and I saw the updated page on the tablet

[2019-06-13 13:55] #41 closed

[2019-06-13 14:17] winnertech commented on #73
@AndreiMisiukevich
HotReloader.Current.Start() is Deprected?

[2019-06-13 14:21] AndreiMisiukevich commented on #73
yes, thank you for good question. Yes since now you should use ```Run```

[2019-06-13 14:22] AndreiMisiukevich commented on #73
1.4.6 is already delivered and should fix this issue.

Don't forget abou adb forward :)

[2019-06-13 14:22] #73 closed

[2019-06-13 14:22] AndreiMisiukevich commented on #66
Done

[2019-06-13 14:22] #66 closed

[2019-06-13 14:47] uksreejith commented on #73
@AndreiMisiukevich The latest version of nuget(1.4.6) is working fine on emulator also. Thanks for the quick fixes and this awesome project. Keep up the good work!

[2019-06-13 14:51] AndreiMisiukevich commented on #73
@uksreejith thank you :) the best way to give thanks - repost message about **HotReload** to broadcast info to as many people as we can :) https://twitter.com/Andrik_Just4Fun

[2019-06-13 17:10] Altevir commented on #73
@AndreiMisiukevich
now with this new version (1.4.6) everything works perfectly! Thanks for the quick fix and for this amazing tool!

[2019-06-13 17:22] akamud opened #75 "Provide an option to auto forward tcp port for Android emulators"
I usually use HotReload simultaneously on Android emulator and iOS simulator, the new auto discover feature is great and allows for a scenario where I can just set a random port to avoid collision when opening multiple emulators/apps.

Unfortunately, for Android emulators, I need to know the port so I can forward it through `adb`, as mentioned in the README.

My proposal: pass a `-auto-forward` fl

[2019-06-13 17:30] AndreiMisiukevich commented on #75
Hey)
Will it work both for windows and mac?

Btw, we should add the same behavior to extensions as well. Because reloader is just console app

[2019-06-13 17:31] akamud commented on #75
I just tested this on my Mac, I'll find a Windows to test it, but I believe it will as long as the `adb` is in the `PATH`.

[2019-06-13 17:35] AndreiMisiukevich commented on #75
i think this update makes sense :)

[2019-06-13 17:38] akamud commented on #75
I'll open a PR with this improvement.

[2019-06-13 17:55] move3a commented on #73
@AndreiMisiukevich Excelent, works fine vs for mac.
¡¡Good Job!!

[2019-06-13 18:49] AndreiMisiukevich commented on #73
Great guys )

[2019-06-15 08:09] prasadsunny1 opened #77 "VSMac 2019 extension port changed automatically to 15002 ,Hot reload won't work"
VsMac 2019 with extension.
Project has latest version of NuGet package installed.

I don't know when but IDE extension's port changed from 15000 to 15002 and after that it is not hot reloading in iPhone simulator or android device.

It used to work normally before.

Tried to:
Add a parameter extension = 15002 in the initialization line.But no luck.
`HotReloader.Current.Start(this,extensionPort:150

[2019-06-15 08:13] AndreiMisiukevich commented on #77
First of all please use Run method instead of Start

[2019-06-15 08:17] AndreiMisiukevich commented on #77
Hm, weird
What extension version do you use ? Are you sure it's latest one ?

[2019-06-15 08:46] prasadsunny1 commented on #77
Yes latest plugin for project and IDE

On Sat, 15 Jun, 2019, 1:47 PM Andrei, <notifications@github.com> wrote:

[2019-06-15 10:05] AndreiMisiukevich commented on #77
@prasadsunny1 tell me versions please?
Can you try restart laptop

[2019-06-15 14:14] AndreiMisiukevich commented on #77
##### Try to disable Firewall
![image](https://user-images.githubusercontent.com/10124814/59552526-dbf77100-8f90-11e9-9026-6bade3b406ea.png)

##### Try to change device port to other value e.g. "DeviceUrlPort = 4568"
And if **EXTENSION SHOWS 15002 port**, setup HotReload on your simulator with:

[code]

[2019-06-15 19:47] renatojunior2009 opened #78 "Não funciona apos atualizaçao de pacote e Extensao"
Apos atualizar a extensão e o nuget para a ultima versão não consigo mais usar o HotReload, já desinstalei e instalei novamente por diversas vezes e nada,

[2019-06-15 20:51] AndreiMisiukevich commented on #78
first of all, use English please.

https://github.com/AndreiMisiukevich/HotReload follow Readme. We added IP autodiscovery feature

[2019-06-15 20:51] #78 closed

[2019-06-15 21:06] renatojunior2009 commented on #77
I am facing the same problem only in VS 2017 for Windows, after updating the package and the extension HotReload no longer works

[2019-06-15 21:07] renatojunior2009 commented on #77
I am facing the same problem only in VS 2017 for Windows, after updating the package and the extension HotReload no longer works

[2019-06-15 21:08] renatojunior2009 commented on #77
I am facing the same problem only in VS 2017 for Windows, after updating the package and the extension HotReload no longer works. Is there any way to check which port is being used by HotReload.

[2019-06-15 21:16] AndreiMisiukevich commented on #77
yes, of course. When you "enable" extension, it shows you alert with port number

[2019-06-15 21:27] renatojunior2009 commented on #77
Okay, and how do I configure this port, because the window to inform the IP has disappeared, this is done automatically now?

[2019-06-15 21:29] AndreiMisiukevich commented on #77
@renatojunior2009 yes, it is.
Please read Readme file! https://github.com/AndreiMisiukevich/HotReload/issues/77#issuecomment-502370371

[2019-06-16 03:18] JigarM commented on #77
@AndreiMisiukevich yes let me try it on Monday and will let the thread know

[2019-06-16 11:09] AndreiMisiukevich commented on #77
Can anybody create video of full reproduction this issue?

With showing code of setup, reloader and extensions versions

[2019-06-16 12:57] renatojunior2009 commented on #77
Hi, follow the image link capped by the VS Log with the error in the extension

[https://drive.google.com/file/d/1sBEw7pkIEcRaUX7_s45hqhq3Zjjprv_2/view?usp=sharing](url)

[2019-06-16 15:57] AndreiMisiukevich commented on #77
@renatojunior2009 I don't understand this language. Could you please provide more info in English?

[2019-06-16 16:20] renatojunior2009 commented on #77
[error](https://drive.google.com/file/d/1sBEw7pkIEcRaUX7_s45hqhq3Zjjprv_2/view?usp=sharing) happened as soon as you installed the extension and restarted visual studio. Access link to view error details

[2019-06-16 16:21] renatojunior2009 commented on #77
[error](https://drive.google.com/file/d/1sBEw7pkIEcRaUX7_s45hqhq3Zjjprv_2/view?usp=sharing)
error happened as soon as you installed the extension and restarted visual studio. Access link to view error details

[2019-06-16 18:24] AndreiMisiukevich commented on #77
Hm, try to remove extension, restart VS, install extension again, restart VS again

[2019-06-16 19:08] renatojunior2009 commented on #77
I tried three times and I did not succeed, I even reinstalled Visual Sudio.

[2019-06-16 19:22] renatojunior2009 commented on #77
[Attached](https://drive.google.com/file/d/1u2kjY_smGjRNf3qHWl8VnF32hNVJ-SPZ/view?usp=sharing) is the video I recorded showing the whole process.

[2019-06-16 19:29] AndreiMisiukevich commented on #77
@renatojunior2009 thanks.
I will check.

Btw, tell me please your VS version too :)

[2019-06-16 19:35] renatojunior2009 commented on #77
I am using Enterprise version 2017 15.9.13.

[2019-06-16 21:49] marcosmusk commented on #77
Same issue here in VS 2019 and VS 2019 for mac, not working in iOS and Android.
HotReload 1.4.9

[2019-06-16 22:02] AndreiMisiukevich commented on #77
it's **exe** file!

provide me video

[2019-06-16 22:06] AndreiMisiukevich commented on #77
Has anybody solve this issue yet? (after reading Readme file)

[2019-06-16 22:16] AndreiMisiukevich commented on #77
reproduced.

Seems 15002 port is reserved or something else..

[2019-06-17 00:10] prasadsunny1 commented on #77
Netstat shows nothing like that

On Mon, 17 Jun, 2019, 3:46 AM Andrei, <notifications@github.com> wrote:

[2019-06-17 00:59] AndreiMisiukevich commented on #77
[HotReload.MacVS.HotReload.MacVS_1.3.4.mpack.zip](https://github.com/AndreiMisiukevich/HotReload/files/3294864/HotReload.MacVS.HotReload.MacVS_1.3.4.mpack.zip)

Hey, mac users, can anyone check this version of extension (unzip archive and install extension from file)

[2019-06-17 01:09] prasadsunny1 commented on #77
Let me check, In 3 hours

On Mon, 17 Jun, 2019, 6:29 AM Andrei, <notifications@github.com> wrote:

[2019-06-17 01:50] marcosmusk commented on #77
This build works on Mac with Xamarin Forms 4.0.0.497661, only in iOS for while.
Android I tried but didn't worked, I guess it is because the port configuration...

[2019-06-17 06:31] AndreiMisiukevich commented on #77
@marcosmusk did you try on android real device or emulator ?

[2019-06-17 10:15] AndreiMisiukevich commented on #77
Tonight will be release for Windows and Mac and new nuget version

[2019-06-17 10:21] AndreiMisiukevich commented on #77
@renatojunior2009

What is it?) Do you think i am silly?)

![image](https://user-images.githubusercontent.com/10124814/59597369-53004700-9102-11e9-983f-f02e9989e95a.png)

[2019-06-17 12:44] AndreiMisiukevich commented on #77
@stanbav will push new extension releases in short time (today, maybe tomorrow)

[2019-06-17 12:53] shyam-s00 commented on #77
@AndreiMisiukevich

I too had a similar issue in Windows with VS2019.
In log I can see below.

06-17 08:34:31.565 I/mono-stdout(27785): [OBSOLETE] ### AVAILABLE DEVICE's IP: http://192.168.43.163:8000 ###
06-17 08:34:31.567 I/mono-stdout(27785): ### HOTRELOAD STARTED ###

But device is not getting updated.

Will your next release address this issue?

[2019-06-17 13:24] AndreiMisiukevich commented on #77
@shyam-s00 what does extension show you 15002 port too?

[2019-06-17 13:32] shyam-s00 commented on #77
Nope. it still shows 15000.
Actually it was working until couple of week back. From today, after upgrade its stopped working.

Tried this and still no luck...

 HotReloader.Current.Run(this, new HotReloader.Configuration {
                    DeviceUrlPort = 8000,
                    ExtensionAutoDiscoveryPort = 15000
                });

[2019-06-17 13:52] AndreiMisiukevich commented on #77
@shyam-s00 do you on android emulator?
Did you forward ports regarding to Readme ?

[2019-06-17 13:54] AndreiMisiukevich commented on #77
@shyam-s00 your device and PC/laptop should be in the same network (if you test on real device)

[2019-06-17 14:52] ThallisonRhanniel commented on #77
Here it stopped working on friday

I'm using: **HotReloader.Current.Run (this);**

Windows 10
Real Device in the same network : Android 7.0
Visual Studio 2019: 16.1.1
Visual Studio Extension Port : 15000
Xamarin Forms: 3.6.0.344457
HotReload: 1.4.10

[2019-06-17 15:24] marcosmusk commented on #77
In real device (android 7.0) it's working, I will try to configure port forwarding in emulator.

[2019-06-17 16:00] AndreiMisiukevich commented on #77
@marcosmusk btw, we want to add "port autoforward" feature as well ) so you won't need to forward them anymore

[2019-06-17 16:03] marcosmusk commented on #77
Nice, would be a nice feature.
Btw, you're doing a great job, thanks!

[2019-06-17 16:18] AndreiMisiukevich commented on #77
@marcosmusk not me only :)
@stanbav and @iBavtovich these guys contributed a lot )

Anyway thanks)

[2019-06-17 16:29] shyam-s00 commented on #77
@AndreiMisiukevich
Yeah. Both device and laptop are in same network. Tried Port Forward as well and still its not working for me.

there is only one difference that I could see. Previously when I enable the hot reload I was getting device connection list window.

Win 10,
VS2019 Enterprise
Physical Device . Android 7.1.1
Xamarin Forms 3.2

[2019-06-17 18:27] ThallisonRhanniel commented on #77
I returned the previous version, now it is working. 👍
Nuget HotReload : 1.3.0
Extension Visual Studio:  1.1.3.

[2019-06-18 00:11] renatojunior2009 commented on #77
Hi, I've come to disagree with the virus detected, in no time was my intention, this is a tool that I use to record videos on my computer, it really saves in .exe, once again I apologize, I saw that it posted in github but I had no way of answering for him. To verify that this is not really a virus. I dowloaded it from the following site. Software Screen2EXE

https://screen2exe.soft112.com/

[2019-06-18 00:12] renatojunior2009 commented on #77
After upgrading visual studio to version 2019 and installing extension 1.3.2 and HotReload 1.49 package came back up, but I noticed a delay of 10 seconds for the change to be rendered on the screen.

[2019-06-18 05:53] MagicAndre1981 commented on #75
on my system, adb is not added to PATH by default. So add this note to readme, that users need to add adb to PATH.

[2019-06-18 07:51] pm64 opened #79 "Doesn't work on real iOS device"
Testing with a blank shell template project in VS2019. Device is a 2nd-generation iPad Pro. Verified ports, restarted VS, rebooted machine & device. Everything is on the same LAN. Any suggestions?

[2019-06-18 08:44] AndreiMisiukevich commented on #79
Do you work on Mac?

[2019-06-18 08:45] pm64 commented on #79
No, Windows 10 x64

[2019-06-18 09:06] AndreiMisiukevich commented on #79
@pm64 please provide screenshot of extensions alert and setup code.

[2019-06-18 09:12] pm64 commented on #79
![image](https://user-images.githubusercontent.com/10715458/59669132-82e53400-916e-11e9-855f-bbbb237feb66.png)

[2019-06-18 09:20] AndreiMisiukevich commented on #79
@pm64
Thanks, and tell me please your LAPTOP/PC IP address and your DEVICE IP address

[2019-06-18 09:24] pm64 commented on #79
The PC and laptop are both on the same /24 subnet.

[2019-06-18 09:25] AndreiMisiukevich commented on #79
@pm64 yeah, but tell me IPs please (local IPs)

[2019-06-18 09:28] pm64 commented on #79
@AndreiMisiukevich - I just emailed you that information

[2019-06-18 10:31] uksreejith commented on #79
@AndreiMisiukevich Similar issue for me too. Not working on an iPhone. I am using Visual studio 2017. Connected to a mac mini via mac agent and the iPhone is connected to the Mac mini via USB.

IP address for visual studio machine : 192.168.1.9
IP address of iPhone : 192.168.1.4

[2019-06-18 13:31] AndreiMisiukevich commented on #77
use nuget 1.4.10 and extension 1.3.5

[2019-06-18 13:31] #77 closed

[2019-06-18 13:32] AndreiMisiukevich commented on #75
make PR please with this useful info)

[2019-06-18 13:32] #75 closed

[2019-06-18 13:38] AndreiMisiukevich commented on #75
@MagicAndre1981 i will do it myself. no worries

[2019-06-19 03:18] pm64 commented on #79
@AndreiMisiukevich I tried your suggestion of downgrading to 1.3.1 and initializing as follows:
`HotReloader.Current.Start(this, 8000, ReloaderScheme.Https)`
Unfortunately, this did not have any effect.

[2019-06-19 05:42] AlonRom opened #80 "[Windows] HotReload auto discovery sometimes doesn't work"
Hi Andrei,

For some reason after a long period that everything was working great, the Hot Reload stopped working last week.

I was working with an old version 1.2.4 but I think since the extension was updated by itself things stopped working.

I tried about everything including:

1. updating to the newest version 1.4.10
2. reinstall the extension tool
3. Adding the adb path to the environment pat

[2019-06-19 07:35] InquisitorJax commented on #80
I think this is a fairly recent breaking change.
Everything was working fine yesterday.
This morning default ports changed from the 15X range to 17502 - not sure what's going on, but super disappointed that lately this plugin is costing more time than it is saving.
Also windows VS 2017 + android emulator

[2019-06-19 07:39] AlonRom commented on #80
Just want to go back to how it was 1.2.4, works great and saved a lot of time.
Now I wasted two days to try to make in work again.

[2019-06-19 07:42] InquisitorJax commented on #80
@AlonRom  if you want to roll back - have a look here at #73 - there's a link to an old version of the extension there (and you need to turn off auto-update for the extensions as well)

[2019-06-19 07:46] AlonRom commented on #80
Thanks @InquisitorJax ! I will try

[2019-06-19 08:18] AndreiMisiukevich commented on #79
@pm64 thanks for investigation

[2019-06-19 08:20] AndreiMisiukevich commented on #80
@AlonRom did you install 1.3.5 version of extension?

![image](https://user-images.githubusercontent.com/10124814/59748675-486dbb00-9284-11e9-9f0e-a2195fcbb370.png)

[2019-06-19 08:22] AlonRom commented on #80
@AndreiMisiukevich yes!

[2019-06-19 08:23] AndreiMisiukevich commented on #80
@AlonRom ```Changes start to run: HotReloader.Current.Run(this);```

but what does extension show you? what port value ?

[2019-06-19 08:24] AlonRom commented on #80
15000

[2019-06-19 08:25] AndreiMisiukevich commented on #80
@AlonRom try to disable firewall

[2019-06-19 08:28] AlonRom commented on #80
@AndreiMisiukevich  Where? how?
I don't think it's the best solution and can't apply it in the work routine

[2019-06-19 08:30] AndreiMisiukevich commented on #80
@AlonRom i can explain how does it work:

1) Extensions opens UDP receiver on that port, which it shows in alert
2) Reloader build url "http://{deviceIp}:{DeviceUrlPort}" and broadcast it via UDP client to that port (ExtensionAutoDiscoveryPort).
3) Then extension sends updates to your device/emulator by that url

Well, try to find your PC/LAPTOP ip (NOT DEVICE IP!)

and

ExtensionIpAddress = IPAdd

[2019-06-19 08:32] AndreiMisiukevich commented on #80
@AlonRom do you work on Windows?

[2019-06-19 08:33] AlonRom commented on #80
@AndreiMisiukevich yes

[2019-06-19 09:02] AndreiMisiukevich commented on #80
@AlonRom just had a call with @InquisitorJax
Sooo, it's strange thing, but could you please try:

1) Enable extension (it will show you a port value)
2) put this port value to config (if it isn't 15000 for sure, if it is, you may skip this step)
3) run your application
4) after running the application make this (find that message and make adb forward yourself)
![image](https://user-images.githubus

[2019-06-19 09:03] AndreiMisiukevich commented on #80
@AlonRom just in case you may try to
```adb forward tcp:8000 tcp:8000```
```adb forward tcp:8001 tcp:8001```
```adb forward tcp:8002 tcp:8002```
```adb forward tcp:8003 tcp:8003```

[2019-06-19 10:27] AndreiMisiukevich commented on #80
@AlonRom does it help?

Okay, anyway @stanbav  and me decided to release old extensions as separate extension. So, everybody will be able to decide which one to use.

Does it sound good?

[2019-06-19 10:38] AlonRom commented on #80
@AndreiMisiukevich everything you mentioned above I already did with no success.
But why use ports 8001,2,3?

When will you provide the option to go back to older extensions?

[2019-06-19 10:57] AndreiMisiukevich commented on #80
@AlonRom today i think

[2019-06-19 11:04] AndreiMisiukevich commented on #80
but i suggest you to try on REAL android device:

[code]

[2019-06-19 11:41] AlonRom commented on #80
@AndreiMisiukevich
I'm using a real device all the time, the same one I used when it worked:

1. DevicePort - I put 8000 as the output suggested:
### HOTRELOAD STARTED ON DEVICE's PORT: 8000 ###

2. ExtensionAutoDiscoveryPort  - I put 15000 as the alert window suggested.

3. ExtensionIpAddress = IPAddress.Parse("172.18.8.67")
I took it from cmd after ipconfig command:    IPv4 Address. . . . . . .

[2019-06-19 11:45] AndreiMisiukevich commented on #80
@AlonRom tell me please your android device IP

[2019-06-19 11:50] AlonRom commented on #80
12.0.0.20

[2019-06-19 11:54] AndreiMisiukevich commented on #80
@AlonRom ... https://www.speedguide.net/ip/12.0.0.20

it's not LOCAL ip address. Your device and your PC/laptop must be at the same local network

[2019-06-19 11:57] AlonRom commented on #80
Now changed to:10.166.172.6
Just tell me where to look and what to do and I will provide the details.

[2019-06-19 11:59] AndreiMisiukevich commented on #80
- 172.18.8.67
- 10.166.172.6

is it possible to put device and your pc to the same addresses range

for example to 172.18.8.{value} ?

[2019-06-19 12:15] AlonRom commented on #80
This was it!!! working:)

[2019-06-19 12:44] InquisitorJax commented on #80
@AndreiMisiukevich is this something users need to be aware of and fix themselves - or can this be remedied with a hotreload update?

[2019-06-19 13:42] AndreiMisiukevich commented on #80
@InquisitorJax not sure that there is possibility to change device's IP
So, i think it makes sense to put more info in Readme. Do you want to send PR with info :) . ?

[2019-06-19 21:56] IoTFier commented on #80
It has stopped working on VS 16.1.3 as well.  HotReload extension 1.3.5 and Nuget package 1.4.10
My VS port is 15000, app.cs has following after initialize()
#if DEBUG
            HotReloader.Current.Run(this);
            //optionaly you may specify EXTENSION's port for auto discovery and device's port
#endif
This extension has been very unstable, ever since the auto detect IP feature (BTW which

[2019-06-20 08:35] AndreiMisiukevich commented on #80
@IoTFier look through the discussion. We have already resolved this question.

also you may use old extensions with newest nuget package https://github.com/AndreiMisiukevich/HotReload/tree/master/old_extension_packages

[2019-06-20 08:40] InquisitorJax commented on #80
@AndreiMisiukevich after our discussion yesterday, it stopped working again, and resetting the adb port forwarding didn't help.
I'll try again later (and also the old extensions) to see if anything changes.

[2019-06-20 08:44] IoTFier commented on #80
@AndreiMisiukevich , thank you for your response.  I use iOS simulator and Android device.

I did read the discussion and will definitely read it again, if I missed any step. My VS extn is configured to update automatically.

The point I was making earlier is - new updates have taken toll on productive time when using this extension. New improvements are intended for great purpose, but they have d

[2019-06-20 08:47] InquisitorJax commented on #80
@IoTFier I had the same feedback ... before setting up IP numbers was a once-off. With the new changes - that port 15X could change every time you connect - which means changing code - which doesn't really help in a team setting.
I prefer the old extension - but that's disappointing, because that means it's not going to be getting new features.

[2019-06-20 08:51] AndreiMisiukevich commented on #80
@IoTFier are you sure that Windows extension ever works with iOS simulators at all?
As for Android device

Can you confirm that your device IP and your PC ip are in the same IP range ?

[2019-06-20 08:51] IoTFier commented on #80
@InquisitorJax - I am not sure if it make sense to go backward by losing features and functionality for getting stability.  I truly thank @AndreiMisiukevich & co to provide us with this great help. My request is to not compromise on basic usability of this tools when launching / adding new features / bug-fixes.

[2019-06-20 08:52] AndreiMisiukevich commented on #80
@IoTFier old extension is stable. It just doesn't have autodiscovery feature.

[2019-06-20 08:55] InquisitorJax commented on #80
@AndreiMisiukevich perhaps consider keeping the old IP dialog - but add a checkbox that enables auto-IP discovery? That way if there's a problem with auto-discover, it's a lot easier to uncheck that feature, rather than installing older extensions?

[2019-06-20 08:57] IoTFier commented on #80
Yes, it was working before this port # feature was brought in. Ever since that I have lost the functionality... Let me put it this way .. it is hit and miss

My android device IP and PC ip are in the same range.
I use HotReload more on the iOS simulator than Android.

[2019-06-20 08:59] IoTFier commented on #80
@AndreiMisiukevich - It is certainty a great planned feature;
   My request is to display those connected IPs, and OS version , and device / simulator name (old extn++? )

[2019-06-20 09:12] AndreiMisiukevich commented on #80
need to discuss with @stanbav

[2019-06-20 09:33] AndreiMisiukevich commented on #80
@IoTFier have you tried this as well? (put your PC ip there)

![image](https://user-images.githubusercontent.com/10124814/59838431-8e478380-9357-11e9-807b-ddc8448559f2.png)

[2019-06-20 09:34] AndreiMisiukevich commented on #80
@InquisitorJax as for entering Extension port. We can easily solve this problem. Reloader may send its ip to range of possible IP, so you won't need to copy-paste anything

[2019-06-21 08:11] SShaw1985 opened #81 "Cant get working with prism app"
Hi

I have set up the extension as descvribed but cant get an emulator to update using the ios emulator on vs for mac.

is there an extra step needed to get Prism working also?

Many thanks

[2019-06-21 08:32] AndreiMisiukevich commented on #81
try to run HotReload from AppDelegate

var app = new PrismApp();
HotReloader.Current.Run(app);

[2019-06-21 08:35] AndreiMisiukevich commented on #81
![image](https://user-images.githubusercontent.com/10124814/59909479-708e2300-9418-11e9-990d-c16627435640.png)

![image](https://user-images.githubusercontent.com/10124814/59909503-7ab02180-9418-11e9-9cfa-0cca8a903fa9.png)

![image](https://user-images.githubusercontent.com/10124814/59909517-869be380-9418-11e9-9039-36014041c153.png)

OR

![image](https://user-images.githubusercontent.com/10124814/

[2019-06-21 08:35] #81 closed

[2019-06-21 21:55] AndreiMisiukevich commented on #80
1.4.12 nuget package

new extensions will be available soon. Read readme again please
@InquisitorJax no need to fill extension's port anymore. Just ignore alert message :)

[2019-06-25 11:24] prasadsunny1 opened #82 "Hot reload does not work on page with page level resource dictionary"
2019-06-25 16:53:05.461561+0530 MyApp.iOS[79979:1047656] Xamarin.Forms.Xaml.XamlParseException: Position 4:1684. StaticResource not found for key TitleLabel
  at Xamarin.Forms.HotReloader.ReloadElement (System.Object obj, Xamarin.Forms.HotReloader+ReloadItem reloadItem) [0x00386] in d:\a\1\s\Reloader\Xamarin.Forms.HotReload.Reloader\HotReloader.cs:573
  at Xamarin.Forms.HotReloader+<>c__DisplayCla

[2019-06-25 11:30] AndreiMisiukevich commented on #82
@prasadsunny1 hi, thanks for feedback
Could you please create small sample with this issue?

[2019-06-25 13:36] AndreiMisiukevich commented on #82
@prasadsunny1 you can fork my repository and add reproduction there

[2019-06-25 17:21] prasadsunny1 commented on #82
I don't know why it happened, but I'll try to add that specific page into a
new blank project to reproduce it.

On Tue, 25 Jun, 2019, 7:06 PM Andrei, <notifications@github.com> wrote:

[2019-06-26 19:47] cassionandi opened #83 "Differences of Setup for Xaml and pure CS Pages"
Hi folks.

Is there any differences that we must be aware when working with pure C# Pages?

Something like:

`public class MainPageCS : ContentPage
    {
        public MainPageCS()
        {
            Content = GetContent();
        }

        private View GetContent()
        {
            var mainLayout = new StackLayout
            {
                Children = {
                    new Label

[2019-06-26 21:16] AndreiMisiukevich commented on #83
Hi)
Csharp code reloading isn’t supported by this plugin. Xaml and CSS only

[2019-06-26 21:23] #83 closed

[2019-06-26 21:55] IoTFier commented on #80
Hi @AndreiMisiukevich I have latest extension and nuget package, tried above suggested step by you.

No luck. It is still not working.. Can you please keep this issue open?

Thanks

[2019-06-26 21:58] AndreiMisiukevich commented on #80
@IoTFier reach me in skype please csi.andreymisyukevich

[2019-06-26 22:34] AndreiMisiukevich commented on #80
@IoTFier case is WINDOWS + iOS simulator :)

[2019-06-27 11:19] cassionandi commented on #83
It's curious because I saw a live stream with @davidortinau and @rdavisau working on Xappy (https://www.twitch.tv/videos/441875218), and the code was hot reloading, and the repo seems indicates HotReload using whttps://github.com/rdavisau/Xappy/blob/master/Xappy/Xappy/App.xaml.cs

[2019-06-27 11:47] IoTFier commented on #80
thank you @AndreiMisiukevich
I am seeing issue on both iOS simulator and Android emulator as well.
My Android emulator has IP address in a different subnet, even though android emulator is running off my PC.

Also, searching of "$"### HOTRELOAD STARTED ON DEVICE's PORT:" in VS output resulting in nothing. Am I missing any step in the android config for the HOTRELOADER to not to get fired off when

[2019-06-27 11:55] IoTFier commented on #80
@AndreiMisiukevich it seems that old extn 1.2.1 is not compatible with VS 2019 when I tried to install it...
Is that right ? How do I configure / install it for VS 2019?

[2019-06-27 13:34] AndreiMisiukevich commented on #80
No idea, should work. Try to restart VS, after removing

[2019-06-27 13:35] AndreiMisiukevich commented on #83
Oh ?

[2019-06-27 14:01] IoTFier commented on #80
I have no instance of VS 2017/2019 running.
FYI..
![image](https://user-images.githubusercontent.com/26844611/60272486-e2071f00-98b9-11e9-8f5c-7478ff520dae.png)

![image](https://user-images.githubusercontent.com/26844611/60272567-0d8a0980-98ba-11e9-9fff-09bc775ce32f.png)

[2019-06-27 14:02] cassionandi commented on #83
I discovered that they were using Continuous on the live stream, but it was not commited on the repo. Sorry for the inconvenience.

[2019-06-27 14:10] IoTFier commented on #80
Figured out... just disabling the extn for installing old one doesn't work. We need to uninstall the new extension before the old one recognizes a need to install it on that VS. Not sure if it make sense fully... VS should provide an option for choosing the version # it is already installed ...
![image](https://user-images.githubusercontent.com/26844611/60273288-6efea800-98bb-11e9-93df-2c519e5be7d

[2019-06-27 16:15] AndreiMisiukevich commented on #82
any updates?

[2019-06-27 19:41] IoTFier commented on #80
@AndreiMisiukevich ,
the old extension works like a charm !

[2019-06-27 20:16] AndreiMisiukevich commented on #80
@IoTFier i think, nice to hear it. Do you use 127.0.0.1 for iOS simulator reloading?

[2019-06-28 03:25] glaubermarcelino commented on #80
I managed to run the hotreload with the latest version in emulators, so it was necessary to map the folder of adb.exe, close the visual studio and reopen, enabling "Enable it" the hotreload.
The settings I left were these in App.Xaml.cs.

`HotReloader.Current.Run(this);`

[2019-06-28 09:49] AndreiMisiukevich commented on #80
Yeah :) as described in documentation :)

[2019-06-28 22:03] AndreiMisiukevich commented on #82
@prasadsunny1 ?

[2019-06-29 12:30] glaubermarcelino commented on #80
However for it to work according to the instructions it is necessary to close and reopen Visual Studio otherwise it does not work

[2019-06-30 18:27] AndreiMisiukevich commented on #82
cannot reproduce
works perfect on **PAGE** level

![image](https://user-images.githubusercontent.com/10124814/60400536-e1061400-9b7d-11e9-9060-4aa5257c6e51.png)

[2019-06-30 18:27] #82 closed

[2019-06-30 19:46] AndreiMisiukevich commented on #80
@IoTFier what IP do you use for iOS simulator on Windows?

[2019-07-01 11:55] IoTFier commented on #80
@IoTFier , sorry for my delay.. trying to get you the info... but the meantime the extn got upgraded ., I did uncheck the box of auto upgrade.. reinstalling it will let you know

[2019-07-01 17:32] robmerrick181 opened #85 "Errors with RelativeLayout and ConstraintExpressions"
**The Issue:**

Having a RelativeLayout with a ConstraintExpression causes that XAML file to throw an error on a hot reload. Note that if the ConstraintExpressions are removed, the error doesn't present itself. When the error occurs, the page becomes blank after the hot reload and a parse error is displayed.

**Example:**

[code]
**Exception Stack Trace**

[code]
**Additional Information:**

If it

[2019-07-01 20:39] AndreiMisiukevich commented on #85
reproduced

[2019-07-02 02:20] IoTFier commented on #80
@AndreiMisiukevich - my apologies for the delay again. The IP Address of my iOS Simulator is same as the IP address of my Mac machine.

The issue I was facing about text was .. .just unchecking the upgrade of the extn wasn't enough. Along with that it is also necessary to disable that (uncheck) under tools -> options -> environment -> extensions .. see the pic below..
Otherwise, if you were to ope

[2019-07-02 08:03] AndreiMisiukevich commented on #80
@IoTFier so, let's imagine that your PC ip is 192.168.0.12
You enters http://192.168.0.12:8000 to extension box and it works well, right?

[2019-07-02 08:04] AndreiMisiukevich commented on #85
need to debug it. After quick check i have no idea why it cannot be parsed ..

[2019-07-02 09:17] IoTFier commented on #80
@AndreiMisiukevich - yes, that's what seems to be correct.

[2019-07-02 09:21] IoTFier opened #86 "HotReloader as realtime previewer"
Hi @AndreiMisiukevich ,

Is a real-time previewer functionality possible using HotReloader i.e. switch to a realtime preview and HotReloader, if -
1. I add a new ContentPage or ContentView in my app which is not functionally used directly in my app
2. In VS editor panel, switch from ContentPage / ContentView to another one already present in the solution ?

It also will be nice if we could use xml

[2019-07-04 10:17] al3xmeister opened #87 "connecting to a uwp local machine"
Having issues with running the previewer on a local machine, esentially the lightning bolt keeps disappearing, and when I do manage to enable it, the extension doesnt work fine - as it does, flawlessly, on android tablets. Could you please assist me whenever you have the time? Many thanks in advance

[2019-07-04 10:38] AndreiMisiukevich commented on #87
https://github.com/AndreiMisiukevich/HotReload/issues/41

@MagicAndre1981 could you please explain how have you run HotReload on UWP ?

[2019-07-04 11:16] MagicAndre1981 commented on #87
local machine/Simulator is not working. I always have setup Remote Debugging from my Win10 dev VM to my Windows 10 tablet to test it. My original issue 41 was already linked. [UWP has server capabilities](https://docs.microsoft.com/en-US/windows/uwp/networking/sockets#build-a-basic-tcp-socket-client-and-server) and allows local access with `Fiddler\EnableLoopback.exe` , but it may [require extra w

[2019-07-04 11:43] AndreiMisiukevich commented on #87
@MagicAndre1981 thanks)

@al3xmeister so, this is limitation of HotReload.

[2019-07-04 11:43] #87 closed

[2019-07-04 12:19] al3xmeister commented on #87
@Andrei Misiukevich <andrei.misiukevich@gmail.com>

Thanks for the info,

I'm away to configure a VM and test further, may ask please, what software
are you using for running a windows 10 tablet VM on you desktop?

Kindest regards,

Alex Danicel, MSc.
m: 07534848580

On Thu, 4 Jul 2019 at 12:43, Andrei <notifications@github.com> wrote:

[2019-07-04 12:44] AndreiMisiukevich commented on #87
@MagicAndre1981 i would be grateful if you was able to reply :) cuz i'm totally mac user

[2019-07-04 13:34] MagicAndre1981 commented on #87
Follow the [steps here](https://docs.microsoft.com/en-US/visualstudio/debugger/run-windows-store-apps-on-a-remote-machine?view=vs-2019) and install the Remote Debug tools on Tablet and specify the tablet device name in debug properties.

When you press F5 to debug the app, it gets deployed to tablet and now you can use Hotreload to see the changes of the XAML file in realtime on the tablet.

[2019-07-04 13:36] al3xmeister commented on #87
Thank you so much for the prompt response guys,

Will keep on using and recommending your extension to colleagues and
friends.

Kindest regards,

Alex Danicel, MSc.
m: 07534848580

On Thu, 4 Jul 2019 at 14:34, MagicAndre1981 <notifications@github.com>
wrote:

[2019-07-05 07:38] MagicAndre1981 commented on #80
the port get changed for me when Hotrelaod is connected, but I close the solution and open a new one (now 15001). On closing a solution Hotreload should disconnect automatically.

Maybe this helps others with connection issues.

[2019-07-05 14:08] Tyri0n commented on #80
This is working great for me in Android emulator - thanks!

In iOS simulator (running in Mojave VM) it takes about 45 seconds for any changes to appear. Any ideas?

[2019-07-05 14:11] AndreiMisiukevich commented on #80
@Tyri0n wow. Weird. Do you work on virtual machine?
anyway try to disable your firewall

[2019-07-05 14:19] Tyri0n commented on #80
I code in VS 2019 under Windows 10. Mojave runs in VM on same Windows host. Mojave firewall is off.

For some reason it seems a bit better now. Sometimes saving a xaml change is causing the app to jump to a different page and the change is visible when navigating back.

I suspect it's a simulator issue - I usually have to double tap buttons to change page whereas it works fine on device.

Anyways,

[2019-07-06 21:44] DwainSnickles opened #88 "Lost in Space?"
![VSCapture](https://user-images.githubusercontent.com/26853477/60761402-db3c8280-a004-11e9-9dd8-280a9b0a45ec.PNG)
I think I am missing the big picture here? I have HotReload its loaded and running in visual studio 2017. How do I view the xaml I am working on.?

[2019-07-07 10:49] AndreiMisiukevich commented on #88
@DwainSnickles first of all, why do you have two HotReload icons??
Please remove HotReload extension, restart Visual Studio, install HotReload again and restart Visual Studio again. You should have only one lightning icon.

Then follow Readme guid

[2019-07-07 10:49] #88 closed

[2019-07-07 13:44] AndreiMisiukevich commented on #88
guideline *

[2019-07-07 17:39] DwainSnickles commented on #88
Ok revived as requested on start up of Visual studio there is only 1 white icon however I get a yellow notification saying it is not enabled click here to enable hotreload after clicking to enable I get both icons.

[2019-07-07 17:57] DwainSnickles commented on #88
![Capture3](https://user-images.githubusercontent.com/26853477/60772088-337b8f00-a0ae-11e9-8eea-835a2c060686.PNG)
Going further into the readme I added the following but getting a error hotreload not found in current context and the hotreload is connected and using Xamarin.Forms; is included in the using statement.

[2019-07-07 21:38] AndreiMisiukevich commented on #88
@DwainSnickles read Readme till end please... add nuget package...

[2019-07-08 00:01] DwainSnickles commented on #88
I thought I had the nugget package  ok installed that restarted vs added the Hotloader current run no issue I still don't see a visual designer.

[2019-07-08 00:11] AndreiMisiukevich commented on #88
@DwainSnickles it's not designer.. you should run your app and change xaml in real time

[2019-07-08 00:55] AndreiMisiukevich commented on #86
sorry
HotReload is real-time xaml/css reloader
it's not designed to be a previewer.

[2019-07-08 01:02] DwainSnickles commented on #88
That's the part I was missing thanks for being patient

[2019-07-08 15:22] IoTFier opened #89 "Updating values in the resource files don't reflect changes via HotReload"
Hi @AndreiMisiukevich ,

It seems changing of the data in the (AppResources) .resx files doesn't reflect on XAML changes via HotReload.

Is that a known behavior / limitation ?
If so, can that support be added ?

Thank you

[2019-07-08 15:37] IoTFier commented on #86
Hi @AndreiMisiukevich -

As much I understand and respect the intent behind HotReloader functionality.

For the faster productivity - both HotReloader and previewer go both hand-in-hand. The either/or approach is never a complete tooling to make use of XAML for delivering value.

I hope you will reconsider my request.
The potential of impact is huge and upwards. Please think about it.

[2019-07-08 17:54] AndreiMisiukevich commented on #86
@IoTFier well, you win
i will think about it

[2019-07-08 17:56] ChaseFlorell opened #90 "MarkupExtension not found for d:DesignInstance"
So I'm trying to use the extension in Rider and I get an exception when I land on a page that has `d:DesignInstance`.

[LiveXAML had a similar issue that they had to fix](https://github.com/OYIon/LiveXAML/issues/15)

The issue goes away if I enable XamlC, however then HotReload quits working.

[code]

[2019-07-08 17:57] AndreiMisiukevich commented on #89
It's limitation for now (only xaml and css supported), but maybe we enhance this in future

[2019-07-08 18:02] AndreiMisiukevich commented on #80
can be closed i think

[2019-07-08 18:02] #80 closed

[2019-07-08 18:03] AndreiMisiukevich commented on #90
@ChaseFlorell could you please share xaml file for replicating?)

[2019-07-08 18:07] ChaseFlorell commented on #90
[code]

[2019-07-09 16:44] DwainSnickles commented on #88
Hi Andrei sorry to be a pain but was never able to get this working First I needed to get the Android emulator working I did that. I added the nugget package it show in properties in the android app. According to the instructions I should add the  following
       public App()
        {
            InitializeComponent();
#if DEBUG
            HotReloader.Current.Run(this);
#endif

            Main

[2019-07-09 21:20] AndreiMisiukevich commented on #88
you can put it in android part as well (in MainActivity)
[code]

[2019-07-09 22:53] acaliaro opened #91 "System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation"
Hi @AndreiMisiukevich

I have tried to install HotReload following your instructions.

I have enabled the Xamarin.Forms HotReload in VS2019 then I press "run" to execute the project on a real device.

This is the exception:

![image](https://user-images.githubusercontent.com/5759350/60928252-fdf0c480-a2ac-11e9-819d-573198be5e91.png)

 Maybe I am wrong....

[2019-07-09 23:02] acaliaro commented on #91
Solved, was a problem in Styles...

[2019-07-09 23:02] #91 closed

[2019-07-10 05:50] Dids commented on #89
Same with separate/global XAML ResourceDictionary stuff, which I've started to use a lot now.

[2019-07-10 08:48] AndreiMisiukevich commented on #91
@acaliaro nice to hear that you are with us :)

[2019-07-10 08:50] AndreiMisiukevich commented on #89
@Dids hmm, it should work

can you provide small simple sample ? Because global resource dictionaries are supported (you may check my samples)

[2019-07-10 08:55] acaliaro commented on #91
Yes @AndreiMisiukevich , but remember I am waiting HotReloading for C#.....

[2019-07-10 11:43] IoTFier commented on #86
@AndreiMisiukevich - thank you for your consideration.
Bringing this capability will definitely be a great Game Changer for many of us out there.

Thank you.

[2019-07-10 16:46] DwainSnickles commented on #88
I did try that after I verified the emulator was working but it appears to freeze up visual studio. I am giving up just wanted to let you know that. Thanks again for your support. I am ordering a Android tablet and maybe then I will try again.
![Capture4](https://user-images.githubusercontent.com/26853477/60987761-8304c980-a2ff-11e9-9717-7dceea9183c0.PNG)

[2019-07-11 08:17] AndreiMisiukevich commented on #88
@DwainSnickles oh.... you made mistake, let me show you code...

[2019-07-11 08:20] AndreiMisiukevich commented on #88
@DwainSnickles

[code]

[2019-07-11 14:23] DwainSnickles commented on #88
Thanks Andre
One last question the emulator loads I make changes but the emulator doesn't refresh not sure if I am supposed to be seeing this in the emulator or just in the code view display window. Sorry but I relatively new to xarmin forms in Visual Studio. I assume the emulator should preview the changes?

[2019-07-11 14:44] Im-PJ opened #92 "Any thoughts for supporting ViewModel or Code behind changes"
Any thoughts on supporting this? For e.g. I update Button click handler/command method and then see the button execute new method without deploying solution again. Just like Xaml reload but for C# reload. Is it possible.

[2019-07-11 14:44] AndreiMisiukevich commented on #88
@DwainSnickles first of all use should add adb as environment variable

[2019-07-11 14:45] AndreiMisiukevich commented on #88
yes, you should open page on emulator and work with it's xaml in VS.

[2019-07-11 14:46] AndreiMisiukevich commented on #92
it is not possible for now. not sure that we add it

[2019-07-11 16:08] DwainSnickles commented on #88
Not exactly sure what you mean when you say add adb as environment variable did a quick google search but couldn't fidure it out.

[2019-07-11 18:58] MagicAndre1981 opened #93 "Future Discussion"
Microsoft announced their own XAML Hot Reload for using with Xamarin.Forms:

[Announcing XAML Hot Reload for Xamarin.Forms](https://devblogs.microsoft.com/xamarin/xaml-hot-reload/)

What does this mean for this project here? Will development stopped? Microsoft ones only seams to work in VS2019, so this extension here is better.

[2019-07-11 19:37] AndreiMisiukevich commented on #93
Let’s observe current situation

[2019-07-12 05:16] AndreiMisiukevich commented on #88
@DwainSnickles really? )

http://letmegooglethat.com/?q=add+adb+as+environment+variable

[2019-07-12 05:17] AndreiMisiukevich commented on #88
i suggest you to re-read Readme of the project

[2019-07-12 13:14] DwainSnickles commented on #88
Andrei I finally did get it to work didn't need the environment variable. After reading the readme several times which was a little confusing maybe I will create one specifically for windows. Hers what I ended up doing and I put this here for other noobes. On each xmal.cs  in project including app.xaml.cs:
#if !Debug
    [XamlCompilation(XamlCompilationOptions.Compile)]
#endif

[2019-07-12 13:46] DwainSnickles commented on #88
**_FYI never assume_**. The only dumb question is the one not asked. I was searching google for adding the environment variable path for visual studio not for the windows pc and yes I did get a totally different result. "Yes Really". Anyway it is a cool program once you get it figured out. I never claimed to be intelligent my claim to fame is persistence. Thanks again Dwain

[2019-07-12 14:18] AndreiMisiukevich commented on #88
@DwainSnickles great)

[2019-07-12 23:48] DwainSnickles commented on #88
Adrei not sure if you want to share the link but I made a youtube video for installing Hotreload  for windows using Visual Studio. I wish I had this when I started several days ago. I think it would be very useful for others. Short simple and concise. Let me know if you think I missed anything. Thanks dwain.

[2019-07-16 08:31] AndreiMisiukevich commented on #90
@ChaseFlorell hm, but i don't see d:DesignInstance use in your xaml file..

[2019-07-16 08:31] AndreiMisiukevich commented on #86
@IoTFier https://github.com/AndreiMisiukevich/HotReload#additional-setup--troubleshooting

point number 6

[2019-07-16 14:06] ChaseFlorell commented on #90
@AndreiMisiukevich whoops, edited. It's in the title

[2019-07-16 14:54] AndreiMisiukevich commented on #90
@ChaseFlorell can you reproduce it with latest nuget?

[2019-07-17 08:50] AndreiMisiukevich commented on #90
unfortunately it won't be fixed since it's XF bug

[2019-07-17 08:50] #90 closed

[2019-07-17 08:51] AndreiMisiukevich commented on #93
@MagicAndre1981 anyway i bumped new release yesterday)

[2019-07-17 09:09] MagicAndre1981 commented on #93
I saw it and just made the nuget update.

[2019-07-17 09:57] lolohouse opened #94 "ResourceDictionary reloading issue"
My application uses ControlTemplate in all the pages and controls .. but it is not possible to make changes in execution and see them with HotReload.

[2019-07-17 15:43] lordlagon opened #95 "HotReloader.Current.Start(This) is Obsolete"
Today I updated the HotReload, and Start is obsolete. What parameters should I put in Start?
Version 1.4.13

![image](https://user-images.githubusercontent.com/21324347/61389684-b4494080-a88f-11e9-8f90-ff0571b19cdf.png)

[2019-07-17 15:49] #95 closed

[2019-07-17 15:51] lordlagon commented on #95
I use HotReloader.Current.Run(this). it worked out.

[2019-07-17 15:58] AndreiMisiukevich commented on #94
very small example please

[2019-07-17 16:00] AndreiMisiukevich commented on #95
great)

[2019-07-17 23:08] seba47 opened #96 "doesn't work with XF 4.0 in Windows (no Shell)"
In some cases it freeze VS or does not allow to open Xaml files.
I had to downgrade to XF 3.4

[2019-07-18 05:07] AndreiMisiukevich commented on #96
Hi, do you have exact steps how to reproduce it ?

[2019-07-18 08:20] AndreiMisiukevich commented on #96
are you sure it's hotReload trouble?

[2019-07-21 03:51] DwainSnickles opened #97 "Stoped Working?"

[2019-07-21 04:09] DwainSnickles opened #98 "Stopped Working"
After it stopped working I believe because the command prompt was starting as it was most likely for adb.exe. I downloaded and ran your sample file couldn't get it to make changes either. I added the adb.exe to the system environment as discussed restarted pc but still no command prompt. Is there a way to initialize and force adb.exe to start or verify if it is started.

[2019-07-21 20:38] AndreiMisiukevich commented on #97
https://github.com/AndreiMisiukevich/HotReload/issues/98

[2019-07-21 20:38] #97 closed

[2019-07-21 20:40] AndreiMisiukevich commented on #98
yes, just call ```adb forward tcp 8080 tcp 8080``` in command line

also make sure that you enabled extension!

[2019-07-21 20:40] #98 closed

[2019-07-21 22:25] AndreiMisiukevich commented on #94
Works fine for me, just validated

[2019-07-21 22:27] AndreiMisiukevich commented on #94
http://www.giphy.com/gifs/gHbpcAD9dXLlzvQWOT

[2019-07-21 22:28] AndreiMisiukevich commented on #96
it's definitely not a HotReload problem. And it cannot be XF problem too.
It's something related to VS i think

[2019-07-21 23:49] DwainSnickles commented on #98
Running it from command prompt gives me the following error
adb server version (41) doesn't match this client (40);
Most likely because after I had the problem I upgraded the Android SDK.

[2019-07-22 06:55] lolohouse commented on #94
Sorry, my job has not left me, prepare a test project ..
I annex it now.
[lolo.zip](https://github.com/AndreiMisiukevich/HotReload/files/3416030/lolo.zip)

[2019-07-22 09:29] AndreiMisiukevich commented on #94
Hmm, seems reloader doesn't work with your project at all!

[2019-07-22 11:31] #94 closed

[2019-07-22 11:33] AndreiMisiukevich commented on #94
@lolohouse check newest nuget version. Will be available in 20-30 mins

[2019-07-22 11:34] #86 closed

[2019-07-22 11:34] AndreiMisiukevich commented on #89
Check latest nuget (will be available in 20-30 mins). CI is running now

[2019-07-22 11:35] AndreiMisiukevich commented on #93
going to close this ticket
i decided to continue supporting

[2019-07-22 11:35] #93 closed

[2019-07-22 11:38] IoTFier commented on #89
Hi @AndreiMisiukevich , should you wait from closing this ticket until we get to validate the new nuget ?
Thanks

[2019-07-22 12:03] Saccomani opened #99 "System.Reflection.TargetParameterCountException: 'Parameter count mismatch.'"
I am getting the following error:

System.Reflection.TargetParameterCountException: 'Parameter count mismatch.'

I am using HotReload in Windows working with UWP Xamarin Forms

![image](https://user-images.githubusercontent.com/3049349/61630978-82552700-ac5f-11e9-89dc-e17d4bf502de.png)

[2019-07-22 12:37] AndreiMisiukevich commented on #89
@IoTFier just reopen it in case of issue still exists

[2019-07-22 12:38] AndreiMisiukevich commented on #99
Hi,
What is the version of nuget?
Did it work before ?

[2019-07-22 12:40] AndreiMisiukevich commented on #99
BTW you didn't disable xmlc

![image](https://user-images.githubusercontent.com/10124814/61633060-f65ef180-ac96-11e9-8670-a2777732d541.png)

[2019-07-22 12:57] Saccomani commented on #99
<PackageReference Include="Xamarin.Forms" Version="3.4.0.1008975" />
    <PackageReference Include="Xamarin.HotReload" Version="1.4.14" />

i remove xaml compile , just same error

[2019-07-22 13:00] AndreiMisiukevich commented on #99
@Saccomani have it ever been working for you?

[2019-07-22 13:00] AndreiMisiukevich commented on #99
@Saccomani could you please click "view details" and show me the stacktrace ?

[2019-07-22 13:18] #99 closed

[2019-07-22 13:21] AndreiMisiukevich commented on #99
CI is creating 1.4.15

[2019-07-23 05:43] MagicAndre1981 commented on #93
![image](https://user-images.githubusercontent.com/8274816/61685606-88114200-ad1d-11e9-9d4c-5fe90cfe18ba.png)

[2019-07-23 08:37] lolohouse commented on #94
thanks

[2019-07-23 08:59] IoTFier commented on #96
HI @seba47 , I am using hotReload with XF 4.1 and it is working fine.

[2019-07-23 09:24] AndreiMisiukevich commented on #96
@seba47 so, update your VS

[2019-07-23 09:24] #96 closed

[2019-07-23 13:31] euandrebarbosa opened #100 "Doesn't work on windows (XF UWP)"
Hi there,

I try to use on Visual Studio 2017, in a desktop application (just created for tests) and, even following the "start tutorial", it doesn't work!
The lightning icons appear, i click on it, the message "Extension has started to listen 17502 port for IP auto discovery" appears, but the changes have no effects.

![image](https://user-images.githubusercontent.com/24798901/61716205-02998c00-a

[2019-07-23 13:41] AndreiMisiukevich commented on #100
https://github.com/AndreiMisiukevich/HotReload/issues/87#issuecomment-508484626

[2019-07-23 13:41] #100 closed

[2019-07-23 13:48] JCKodel opened #101 "[Solved] Not working after last update"
Since the last update, nothing works anymore. Each time I try to change the xaml, the following error appears on logcat and the screen is blank.

[code]

[2019-07-23 13:50] AndreiMisiukevich commented on #101
@JCKodel would be easy to fix

Tell me please your Xamarin.Forms version.
if you provide me small sample i will fix it tonight

[2019-07-23 13:55] AndreiMisiukevich commented on #101
@JCKodel can you provide sample please?

[2019-07-23 13:57] JCKodel commented on #101
Xamarin Forms 4.1.0.581479

I cannot pinpoint exactly where it fails. I've downloaded the source code and I'll try to debug it and find the error, so I can help you with a solid case.

[2019-07-23 13:59] AndreiMisiukevich commented on #101
@JCKodel would be amazing

[2019-07-23 14:17] JCKodel commented on #101
![image](https://user-images.githubusercontent.com/379339/61718932-493db500-ad3a-11e9-8f81-a5c75f19a995.png)

When HotReloader runs this code, it triggers one of my components that renders Svg (it inherits Xamarin.Forms.Image).

My component have a bindable property called ResourceProperty (which is a string with the name of the svg).

Somehow, after the line 234 of HotReloader.cs, it triggers thi

[2019-07-23 14:25] AndreiMisiukevich commented on #101
hmmm, we can add one more property to config. So developer can decide if they want to see popups or not

[2019-07-23 14:26] #101 closed

[2019-07-23 14:36] JCKodel commented on #101
@AndreiMisiukevich

Line 444 (catch(Exception ex)) and line 498 (catch(Exception ex)), I've added:
[code]

Then, I've created this function:

[code]

Now, I've made an intentional error (tried to write Padding in a Label component), it will show me the error (and the StackTrace will be usefull, if it contains code that I've wrote):

![image](https://user-images.githubusercontent.com/379339/6172093

[2019-07-23 15:47] seba47 commented on #96
Hi, sorry for the delay!
Well It was happening in a windows machine from a partner. With your feedback I will try to fix that.

Thanks in advance

[2019-07-24 06:43] MagicAndre1981 commented on #93
I saw[ your tweet ](https://twitter.com/Andrik_Just4Fun/status/1153648324211302400) and this C# reloading is what I need for improving Layout code in [OnSizeAllocated](https://docs.microsoft.com/en-US/dotnet/api/xamarin.forms.page.onsizeallocated?view=xamarin-forms) when rotation changes. I can't wait for the release 😍

[2019-07-24 07:08] AndreiMisiukevich commented on #93
I am keen to release it

https://twitter.com/Andrik_Just4Fun/status/1153804045733122049

[2019-07-24 11:45] Saccomani commented on #100
@AndreiMisiukevich , now are  working only on first XAML change, after lost the connection... we work togheter @euandrebarbosa  and me

[2019-07-24 12:16] AndreiMisiukevich commented on #100
@Saccomani are you sure it's really lost?
Can you try to create new XF project with one page and try to play with it.

BTW, do you experience the same issue with Android and iOS ?

[2019-07-24 12:41] Saccomani commented on #100
web can try iOS or Android, we work only with mac and windows... at my home works fine on mac!

[2019-07-24 12:50] AndreiMisiukevich commented on #100
@Saccomani very strange.. hmmm. try to disable firewall please

[2019-07-24 17:06] euandrebarbosa commented on #100
@AndreiMisiukevich we disabled the firewall as you said, but only the first change is applied.
We are debugging from one PC into other, we can provide any tip to us?

[2019-07-24 18:48] AndreiMisiukevich commented on #100
@MagicAndre1981 can help, i think.

Unfortunately I'm mac user

[2019-07-24 18:49] AndreiMisiukevich commented on #100
that's very strange .. it works only one time

[2019-07-24 18:59] euandrebarbosa commented on #100
Thanks anyway, we gonna Fork your repository and try understand better.

[2019-07-25 05:02] MagicAndre1981 commented on #100
this would work. I also remote debug the app from Win10 VM on a Windows 10 tablet and use Hotreload. Only connecting to local device/simulator is failing for UWP.

[2019-07-25 06:07] iamlawrencev opened #102 "[WORKAROUND] HotReload does not work on the latest VS for Mac update 8.2"
I installed the Visual Studio 8.2 for Mac update and suddenly HotReload does not work both on iOS and Android. The application output does not report any errors regarding HotReload.

XF Version: 4.1.0.555618

[2019-07-25 09:09] AndreiMisiukevich commented on #102
Have you tried to restart VS after installation?
also have you enabled extension ?

[2019-07-25 09:24] ChasakisD commented on #102
I am having the exact same issue with VS for Mac 8.2. The issue is probably with the new XAML Editor. If you open a xaml file by Open With -> Source Code Editor, the file opens with the old editor, and then the extensions is working great.

[2019-07-25 09:28] iamlawrencev commented on #102
@AndreiMisiukevich yes I have restarted and enabled extension. As @ChasakisD said this is most likely due to the new XAML editor. Thanks for the workaround @ChasakisD!

[2019-07-25 10:06] AndreiMisiukevich commented on #102
Hmmm, thanks guys. Need to check what a hell is going on

[2019-07-26 01:40] Carl-Wen commented on #1
Hello, did it work well with genymotion emulator for now?  I test it on genymotion emulator, it seems like not work.

[2019-07-26 10:01] Nikitajain1121 opened #103 "HotReloader doesn't support MvxApplication in MVVMCross"
As |'m using the MVVM cross Forms. I'm unable to run this line of code

As it extends the `MvxApplication`.So is there any other solution to implement the HotReloader in MVVM cross.

Using: xamarin forms: 4.1.0
Mvvm cross: 5.2.1

[2019-07-26 10:12] AndreiMisiukevich commented on #103
@Nikitajain1121 yes, because you should call it with your XAMARIN.FORMS Application

Look:
https://github.com/martijn00/MvxForms/tree/master/MvxForms.Core

![image](https://user-images.githubusercontent.com/10124814/61944687-f452a680-afa6-11e9-9945-829e8e8adb09.png)

[2019-07-26 10:14] AndreiMisiukevich commented on #103
![image](https://user-images.githubusercontent.com/10124814/61944752-164c2900-afa7-11e9-8e1e-489e226716d0.png)

[2019-07-26 10:14] #103 closed

[2019-07-26 10:26] AndreiMisiukevich commented on #1
create separate ticket please. Maybe we will try to find solution.

need to add http://10.0.3.2/ support. It will be easy

[2019-07-26 10:27] AndreiMisiukevich commented on #1
i will create myself

[2019-07-26 10:27] AndreiMisiukevich opened #104 "Genymotion android emulator support"
Just add http://10.0.3.2/ support

[2019-07-26 12:45] Nikitajain1121 commented on #103
Okay sure, thank you!! It's working now

[2019-07-26 13:19] AndreiMisiukevich commented on #103
@Nikitajain1121 great)

[2019-07-28 19:18] CarrotSolutions opened #105 "VS 2019 No refresh"
VS 2019 Still not refreshing

Downloaded extension.  Installed nuget.  Restarted everything multiple time.  Even tried with HotReload sample project.  Also tried with new project templater.  All fails.

Added to App.xaml.cs
 HotReloader.Current.Run(this);

Added to Android Project
var app = new App();
#if DEBUG
            HotReloader.Current.Run(app);
#endif

Added where needed
#if !DEBUG
 [XamlC

[2019-07-28 19:38] AndreiMisiukevich commented on #105
Mac / Win ?

[2019-07-28 19:42] CarrotSolutions commented on #105
Windows.  Any help would be much appreciated.  Been at this the last 4 hours.

[2019-07-28 19:45] AndreiMisiukevich commented on #105
@CarrotSolutions do you try on VS Android emulator or genymotion?

[2019-07-28 19:45] AndreiMisiukevich commented on #105
try to forward ports yourself

adb forward tcp:8000 tcp:8000

[2019-07-28 19:45] CarrotSolutions commented on #105
Note when I click the green lightning bolt - it is now listening on port 15001 vs 15000

[2019-07-28 19:45] CarrotSolutions commented on #105
VS Android emulator.  How do i forward ports?

[2019-07-28 19:46] CarrotSolutions commented on #105
Where do i insert =
adb forward tcp:8000 tcp:8000

[2019-07-28 19:49] CarrotSolutions commented on #105
C:\Program Files (x86)\Android\android-sdk\platform-tools>adb forward tcp:8000 tcp:8000

[2019-07-28 20:07] CarrotSolutions commented on #105
'/storage/emulated/0/Android/data/com.companyname.LittlePeachXamApp/files/.__override__/Xamarin.Forms.HotReload.Reloader.dll.so' not found: dlopen failed: library "/storage/emulated/0/Android/data/com.companyname.LittlePeachXamApp/files/.__override__/Xamarin.Forms.HotReload.Reloader.dll.so" not found
07-28 15:05:55.449 D/Mono    ( 5180): AOT: image '/Users/builder/jenkins/workspace/xamarin-android

[2019-07-28 20:11] CarrotSolutions commented on #105
07-28 15:06:05.068 I/mono-stdout( 5180): ### HOTRELOAD STARTED ON DEVICE's PORT: 8001 ###

C:\Program Files (x86)\Android\android-sdk\platform-tools>adb forward tcp:8001 tcp:8001
8001

WORKS! WORKS! WORKS! WORKS! WORKS! WORKS!

[2019-07-28 20:58] AndreiMisiukevich commented on #105
@CarrotSolutions don't understand why ports are not autoforwarded.

[2019-07-28 21:49] Saccomani commented on #105
In VS mac last 8.2 are not working after last update...

[2019-07-28 23:00] AndreiMisiukevich commented on #105
@Saccomani https://github.com/AndreiMisiukevich/HotReload/issues/101

[2019-07-28 23:02] AndreiMisiukevich commented on #105
@Saccomani https://github.com/AndreiMisiukevich/HotReload/issues/102

[2019-07-29 00:52] Saccomani commented on #102
this workaround works fine to me !

[2019-07-29 01:26] CarrotSolutions commented on #105
Andrei - Thanks for the fast response and the help!

[2019-07-29 06:37] rajamaheshwarsingh opened #106 "Can we have a feature of screen sharing embedded into our app"
how to have screen sharing feature in our app

[2019-07-29 06:38] rajamaheshwarsingh commented on #106
where to start to have such a feature into our app.

[2019-07-29 08:45] AndreiMisiukevich commented on #106
hm, it's not related to this project.

[2019-07-29 08:45] #106 closed

[2019-07-29 12:06] Saccomani commented on #100
i found an error:

i just put the Xamarin.Forms.HotReload.Observer.exe in my Xamarin project root folder, and start the executable...

when i save the XAML i catch an error in Send File Method :

[EXCEPTION IN SEND FILE] :System.IO.IOException: O processo não pode acessar o arquivo 'C:\hotreload\HotReload\Sample\Xamarin.Forms.HotReload.Sample\Pages\ItemPage.xaml' porque ele está sendo usado por ou

[2019-07-29 12:48] MagicAndre1981 commented on #100
`Xamarin.Forms.HotReload.Observer.exe` is not required with VS extension.

[2019-07-29 12:56] AndreiMisiukevich commented on #100
Yeah. I will delete reloader

use extensions

[2019-07-29 12:58] #105 closed

[2019-07-29 16:38] #104 closed

[2019-07-29 16:54] AndreiMisiukevich commented on #102
download 1.4.0 extension version

[2019-07-29 16:54] #102 closed

[2019-07-29 22:12] AndreiMisiukevich commented on #92
https://twitter.com/Andrik_Just4Fun/status/1155963687980507136

[2019-07-29 22:12] #92 closed

[2019-07-30 03:46] xamarindevelopervietnam opened #107 "Can't run on VS Windows version"
Hi @AndreiMisiukevich, I'm running VS 16.2.0, XF latest 4.1, Hot Reload nuget and extension are latest version as well.
The Hot Reload can't work on Android Simulator (tested on version 6.0 and 9.0).
Here is some information for you:
![Hot Reload Err1](https://user-images.githubusercontent.com/16578966/62099114-47826d00-b2b7-11e9-81a5-605327cd2991.PNG)
![Hot Reload Err2](https://user-images.github

[2019-07-30 06:25] MagicAndre1981 commented on #92
ok, hopefully we VS users can use it, too. Will this also work for UWP?

[2019-07-30 06:35] Im-PJ commented on #92
Its working like a charm. Thanks for implementing it so soon. Waiting for VS windows as its my main IDE.

[2019-07-30 07:09] IoTFier commented on #107
@xamarindevelopervietnam  what kind of error / issue are you facing ?
In my case, the app is stuck on Splash screen. Is that what you are facing too ?

@AndreiMisiukevich - I upgraded NuGet to 1.4.18 - not knowing features supporting c# but requiring some config. In both cases iOS and Android , I experienced Application instability - especially Android one - My App was totally frozen. In iOS it wa

[2019-07-30 07:59] AndreiMisiukevich commented on #92
extension for VS for Windows is pushed as well.
Good question, i didn't check. So, you can do it :)

[2019-07-30 08:00] AndreiMisiukevich commented on #92
1.4.0 is here https://marketplace.visualstudio.com/items?itemName=StanislavBavtovich.hotreloadxamarinforms

[2019-07-30 08:23] xamarindevelopervietnam commented on #107
My problem is Hot Reload don't update UI

[2019-07-30 08:51] AndreiMisiukevich commented on #107
forward tcp:8000 tcp:8000 i gues

[2019-07-30 08:53] xamarindevelopervietnam commented on #107
same problem with forward tcp:8000 tcp:8000
adb server die and very hard to restart

[2019-07-30 08:54] AndreiMisiukevich commented on #107
frankly speaking autoforwarding should be automatic and you no need to do anything
try to restart VS (or even your PC)

[2019-07-30 08:55] MagicAndre1981 commented on #92
doesn't work for me. I've made the extension update, added the attribute, but when the app is running, the Visual Studio text editor is locked and I can't type any code changes.

[2019-07-30 08:55] AndreiMisiukevich commented on #107
also you may use old extensions https://github.com/AndreiMisiukevich/HotReload#old-extensions-with-mannual-ip-entering

[2019-07-30 08:56] AndreiMisiukevich commented on #107
https://github.com/AndreiMisiukevich/HotReload#additional-setup--troubleshooting

[2019-07-30 08:57] xamarindevelopervietnam commented on #107
After run: forward tcp:8000 tcp:8000, VS can't connect to simulator and I have to restart my PC

[2019-07-30 08:58] AndreiMisiukevich commented on #92
@MagicAndre1981 https://docs.microsoft.com/en-us/visualstudio/debugger/how-to-enable-and-disable-edit-and-continue?view=vs-2019

[2019-07-30 09:01] AndreiMisiukevich commented on #107
[code]

[2019-07-30 09:36] MagicAndre1981 commented on #92
the setting is already enabled. I now started the app without debugger, connected Hotreload, but code changes make no difference.

[2019-07-30 09:45] AndreiMisiukevich commented on #92
have you added HotReloader.CSharpVisual attribute to your ContentPage ?
Keep in mind that you cannot mix xaml and code yet

[2019-07-30 09:57] MagicAndre1981 commented on #92
yes, I added the attribute.

I found this bug report:

https://github.com/xamarin/Xamarin.Forms/issues/1574

[2019-07-30 11:28] MagicAndre1981 commented on #92
ok, I also see the error message `Failed to emit module 'FooApp'` like in this [Stackoverflow question](https://stackoverflow.com/questions/54284619/edit-and-continue-does-not-work-on-xamarin), but I can't set PDB type to full, because here UWP also has a bug, that prevents debugging at all for Full symbols if shared code is .net standard 2.0:

https://github.com/dotnet/standard/issues/621
https:/

[2019-07-30 11:51] Im-PJ commented on #92
Does it only works on Android & ios Simulators as you have mentioned in the doc? I was trying on a real device and was not successful at first attempt.

[2019-07-30 13:46] AndreiMisiukevich commented on #92
not sure
But i think it should work

[2019-07-31 05:21] MagicAndre1981 commented on #92
for me it also doesn't work with Lineageos OS 14.1 device connected via adb over Wifi

[2019-07-31 07:41] MagicAndre1981 commented on #92
tested now with VS2019 16.3 Preview1 also shows this for Android app on real device:

![image](https://user-images.githubusercontent.com/8274816/62192764-8297a580-b376-11e9-8c9f-34c4cbaaa06e.png)

and in error list I get `Failed to emit module 'FooApp'`

In debug output I can see that Hotreload shows its debug messages so it is running

[2019-07-31 21:48] aocipriano opened #108 "Problem with multiple devices"
Hi @AndreiMisiukevich

When I run my app in two devices, iOS Simulator and Android fisical device for example, it stops working.
I run the app in android device and it´s working, so I run the app in iOS simulator and android device stop updating changes.

I´m using VS Enterprise 2019 (16.2.0) and Xamarin Forms 4.1 and Hot reload plugin and extensions at latest versions.

[2019-08-01 08:21] MagicAndre1981 commented on #92
@AndreiMisiukevich can you share a demo app that works for you so that I can compare it with my csproj and detect differences?  Also have you tried it on real phone? As I already run inside a VM, running the emulator is difficult (nested VM).

[2019-08-02 10:07] Dids commented on #89
@AndreiMisiukevich Something as simple as the example below didn't work, last I tried.

App.xaml:
[code]

Styles/LoginPageStyle.xaml:
[code]

LoginPage.xaml:
[code]

Changes in `LoginPage.xaml` update fine, but changes in `Styles/LoginPageStyle.xaml` do not.

[2019-08-02 16:01] AndreiMisiukevich commented on #92
Unfortunately I am on vacation now.
You can try to play with sample app in free time. But frankly speaking I am not sure that code reloading is working on Win

[2019-08-02 16:03] AndreiMisiukevich commented on #89
@Dids please create small sample project) thanks

[2019-08-05 08:36] MagicAndre1981 commented on #92
ok. I tried everything, but can't get it working.

To disable the error, I need to uncheck "Edit an continue" in options as suggested for a different tool that also offers C# code reloading:

![image](https://user-images.githubusercontent.com/8274816/62450394-86f40200-b76c-11e9-9016-4caccd6722f9.png)

But when I set breakpoint and edit code, I see the original values are assigned.

[2019-08-06 13:34] AndreiMisiukevich commented on #108
weird, but it works on Mac for me (iOS simulator + android Emulator)

[2019-08-07 13:08] MagicAndre1981 commented on #92
ok, I see a warning about [Mono.Sharp](https://github.com/AndreiMisiukevich/HotReload/blob/aef8f31c89098784ac7a0c1ecc097db13ce3b23c/HotReload.nuspec#L23) conflict:

[code]

can this be the cause of the failure? As you see (**packages**\Xamarin.HotReload.1.4.19\lib
1>etstandard2.0\Xamarin.Forms.HotReload.Reloader.dll)  I have to use packages.config, do you use the new PackageReference Include inste

[2019-08-08 21:54] YovanyTabares opened #109 "Hot Reload not run in IOS Device"
When Start debug of app in My Device With IOS the Hot Reload stop and not run the app.

IOS: 12.2

![Error_Hot_Reload](https://user-images.githubusercontent.com/51265971/62740324-262f2880-b9fd-11e9-95d6-1cebe625fd03.PNG)

[2019-08-09 05:29] MagicAndre1981 commented on #109
run [VS with /log switch](https://docs.microsoft.com/en-US/visualstudio/ide/reference/log-devenv-exe?view=vs-2019) and share the `activitylog.xml`

[2019-08-09 12:14] YovanyTabares commented on #109
I Attach the log

[ActivityLog.zip](https://github.com/AndreiMisiukevich/HotReload/files/3486277/ActivityLog.zip)

[2019-08-10 16:33] aijinrua opened #110 "HotReload Run method is not working"
I use Xamarin.FFImageLoading.Forms Nuget.
By the way, using FFImage for Xaml File freezes at **`HotReloader.Current.Run (this);`**
There are no errors and the app doesn't quit.
It just stops as if waiting for something.

So I lowered the HotReload version to 1.4.15 and it started working.

![image](https://user-images.githubusercontent.com/10337369/62824404-1ddf1500-bbd8-11e9-9679-f298c8aa4605.png

[2019-08-11 18:16] AndreiMisiukevich commented on #109
duplicated https://github.com/AndreiMisiukevich/HotReload/issues/79

[2019-08-11 18:16] #109 closed

[2019-08-11 18:23] AndreiMisiukevich commented on #110
Thanks

[2019-08-11 18:23] AndreiMisiukevich commented on #110
can you please create small sample with issue?

[2019-08-12 08:20] Im-PJ commented on #92
@MagicAndre1981 Im also getting error about Mono.CSharp conflict due to which my project build is failing. Did you find any workaround?

[2019-08-12 09:28] AndreiMisiukevich commented on #92
@Im-PJ fill new issue pls
It's bug and should be fixed (stay on 15 minor version, without code)

[2019-08-12 10:18] Im-PJ commented on #92
Im sorry which version you mean exactly.

[2019-08-12 12:56] AndreiMisiukevich commented on #92
@Im-PJ https://www.nuget.org/packages/Xamarin.HotReload/1.4.15

[2019-08-12 19:50] pbalbino opened #111 "Stopped after upgrading Xamarin.Forms 4.1.0.673156"
I was working normally, after upgrading to Xamarin.Forms version 4.1.0.673156 I get the following error while compiling.

Can not resolve reference: "System.Threading.Tasks.Extensions", referenced by "Microsoft.CodeAnalysis". Please add a NuGet package or assembly reference for "System.Threading.Tasks.Extensions", or remove the reference to "Microsoft.CodeAnalysis"

If I remove the Xamarin.HotRelo

[2019-08-13 05:17] MagicAndre1981 commented on #111
why don't you simply add the required reference via NuGet?

[2019-08-13 05:19] MagicAndre1981 opened #112 "There was a conflict between "Mono.CSharp, Version=2.0.5.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" and "Mono.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756""
ok, I see this entry about a [Mono.Sharp](https://github.com/AndreiMisiukevich/HotReload/blob/aef8f31c89098784ac7a0c1ecc097db13ce3b23c/HotReload.nuspec#L23) conflict in error list as warning when I try to compile an the android app of xamarin.forms project which uses old `packages.config`:

[code]

[2019-08-13 05:20] MagicAndre1981 commented on #92
@AndreiMisiukevich I created a [new ticket](https://github.com/AndreiMisiukevich/HotReload/issues/112)

[2019-08-13 08:42] AndreiMisiukevich commented on #112
for those guys who have the same issue, i suggest to stay on https://www.nuget.org/packages/Xamarin.HotReload/1.4.15 for now (WITHOUT CODE RELOADING)

[2019-08-13 08:45] AndreiMisiukevich commented on #111
Hi. https://github.com/AndreiMisiukevich/HotReload/issues/112#issuecomment-520745318

all these bugs are related to code updates. need to investigate

[2019-08-13 08:49] AndreiMisiukevich commented on #112
@MagicAndre1981 you can play with sample. try to build it on windows. perhaps we need to update nuspec file or something else... it won't be so easy

[2019-08-13 09:02] MagicAndre1981 commented on #112
I need to build a repro, which may take some time. Your demo uses packagesreference include, which causes [startup crash for me in Visual Studio 2017](https://github.com/xamarin/xamarin-android/issues/2076) because the reference assembly is used instead of real implementation.

You added the [reference here](https://github.com/AndreiMisiukevich/HotReload/commit/01303e583fb6639b140febaded1dda5a75be

[2019-08-13 09:18] AndreiMisiukevich commented on #112
@MagicAndre1981 feel free to make PR :)

[2019-08-13 09:40] MagicAndre1981 commented on #112
no sorry, this git shit annoys me all time.

[2019-08-13 09:45] AndreiMisiukevich commented on #112
@MagicAndre1981 what shit do you mean?)

[2019-08-13 11:46] pbalbino commented on #111
I tried to install the package requested by the error, but it was not enough, the error remains.

[2019-08-13 11:52] AndreiMisiukevich commented on #111
yeah, it's known issue. There are problem and it needs to be solved)

[2019-08-13 12:35] MagicAndre1981 commented on #111
I have no issues when I add System.Threading.Tasks.Extensions. In Android the package is not really used, it is empty for monodroid (_._)

[2019-08-13 12:36] MagicAndre1981 commented on #112
using git at all and PR are terrible (rebase 🤮 )

[2019-08-13 12:46] pbalbino commented on #111
First that when installing it says that it will update, still continue with the error.
![hot2](https://user-images.githubusercontent.com/25305220/62942630-1160e500-bdaf-11e9-9781-aee100184835.PNG)
![hot3](https://user-images.githubusercontent.com/25305220/62942671-2dfd1d00-bdaf-11e9-859d-0c58347fbb19.PNG)

[2019-08-13 13:07] MagicAndre1981 commented on #111
manually edit the packages.config

`<package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="monoandroid81" />`

reload the android part and delete obj/bin folders and build the android app again.

[2019-08-13 13:23] pbalbino commented on #111
Where can I find the packages.config file? In my project did not find.

[2019-08-13 13:29] MagicAndre1981 commented on #111
if you can't find it, you use the packagesreference.

Add this to csproj of .net standard 2.0 and android project:

`<PackageReference Include="System.Threading.Tasks.Extensions" Version="4.5.3" />`

[2019-08-13 13:46] pbalbino commented on #111
I made the changes as the images below, even so the error continues.
![hot4](https://user-images.githubusercontent.com/25305220/62946642-77516a80-bdb7-11e9-9cd7-3cb4db9dd7df.PNG)
![hot5](https://user-images.githubusercontent.com/25305220/62946653-7d474b80-bdb7-11e9-8383-8a34aba224ea.PNG)
![hot6](https://user-images.githubusercontent.com/25305220/62946692-918b4880-bdb7-11e9-9415-8bf575de6197.PNG)

[2019-08-13 14:03] aijinrua commented on #110
[HotReloadTest.zip](https://github.com/AndreiMisiukevich/HotReload/files/3497266/HotReloadTest.zip)

use ffimageloading in MainPage.xaml.
and stop to InitializeComponent(); in MainPage.xaml.cs

[2019-08-13 14:08] AndreiMisiukevich commented on #110
thanks i will take a look

[2019-08-13 14:12] aijinrua commented on #110
I love you!!
Cheer up for you !!

[2019-08-13 14:29] MagicAndre1981 commented on #111
delete the obj folder, here VS creates a project.assets.json for each project that uses PackageReference Include.

[2019-08-13 14:30] AndreiMisiukevich commented on #111
don't think it will help
downgrade version to 1.4.15

[2019-08-13 14:31] pbalbino commented on #111
I did it already, as you mentioned, I deleted the bin and obj folders for the net standard project and for android.

[2019-08-13 14:36] pbalbino commented on #111
I will test this, I had tried downgrading to version 1.4.18 (which also generated the error), but let's see with this one.

[2019-08-13 14:44] pbalbino commented on #111
It worked after downgrading to version 1.4.15, it's working ... Thanks!

[2019-08-13 14:49] MagicAndre1981 commented on #111
as I said, because of other issues I use packages.config and here I have no issues to compile it, but get the Mono.CSharp warning, but code reload doesn't work.

[2019-08-13 15:52] pbalbino commented on #111
Sorry for my lack of knowledge, but how do I work with the packages.config file as you mentioned?

[2019-08-14 04:56] MagicAndre1981 commented on #93
the reloader of Microsoft is now part of VS2019 Update 3 Preview 2:

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/hot-reload

So it requires 16.3 at least and so your lib is still better for me.

[2019-08-14 04:58] MagicAndre1981 commented on #111
Here is a [question and some answers about it](https://stackoverflow.com/questions/53335453/switch-back-to-packages-config-clarification-on-answer)

[2019-08-14 07:16] AndreiMisiukevich commented on #93
@MagicAndre1981 thanks man ))

[2019-08-14 07:17] AndreiMisiukevich commented on #93
@MagicAndre1981 once Microsoft release better solution, i will archive this project.

[2019-08-14 07:40] MagicAndre1981 commented on #93
I doubt that. We still talk about Microsoft, their solutions are always poor, limited and unreliable. The requirement of VS2019 blocks me from using theirs, so I need your project.

[2019-08-14 08:56] XamarinTounsi opened #113 "HotReload"
Hello,

HotReload don't support UWP platform? I downloaded the extension, then I installed HotReload from nuget packages, after I added this code in  app.cs

  public App()
        {
            InitializeComponent();
            ServiceLocator.Add<ICloudService, AzureCloudService>();

            var CloudService = ServiceLocator.Instance.Resolve<ICloudService>();
            CloudService.StoredL

[2019-08-14 08:59] AndreiMisiukevich commented on #113
hi, it's limited https://github.com/AndreiMisiukevich/HotReload/issues/87

@MagicAndre1981 knows how to setup it. (as i understand it doesn't work on emulator, but you may debug on another PC. Am i correct?)

[2019-08-14 08:59] #113 closed

[2019-08-14 09:14] XamarinTounsi commented on #113
@AndreiMisiukevich Thanks for your answer, @MagicAndre1981 can you explain explain step by step how did you do to make it work ?

Cordially

[2019-08-14 12:29] MagicAndre1981 commented on #113
you need to run the App on a remote device with [remote debugging](https://docs.microsoft.com/en-US/visualstudio/debugger/run-windows-store-apps-on-a-remote-machine?view=vs-2019). Local machine and simulator doesn't work.

[2019-08-15 08:25] AndreiMisiukevich opened #114 "Sometimes Rider plugin crashes"
Here is the log.

Perhaps we should try-catch some errors)

[code]

[2019-08-19 07:33] TingtingAn opened #115 "How do I disable HotReload for Release builds?"
I am happy to use HotReload for my Project. But it makes bigger size for android apk.

After unzipping the apk, I see  `Xamarin.Forms.HotReload.Reloader.dll` ,`Microsoft.CodeAnalysis.CSharp.dll` and `Microsoft.CodeAnalysis.dll` in assemblies folder.

Any way to remove them? Thanks!

[2019-08-19 08:42] AndreiMisiukevich commented on #115
Hi) Yeas, of course it's possible)

[2019-08-19 08:42] AndreiMisiukevich commented on #115
can you share csproj file with me?

[2019-08-19 08:51] AndreiMisiukevich commented on #115
Well, it looks like:

[code]

You need to put HotReload to Debug ItemGroup section (create new one) like:

[code]

[2019-08-19 08:51] AndreiMisiukevich commented on #115
Does it help?)

[2019-08-20 10:52] TingtingAn commented on #115
I thought it should work.  But unfortunately, it did not disable the HotReload.  I still saw `Xamarin.Forms.HotReload.Reloader.dll` ,`Microsoft.CodeAnalysis.CSharp.dll` and `Microsoft.CodeAnalysis.dll` in assemblies folder.

I just added Xamarin.HotReload nuget to my portable project  and  did the changes.

[code]

After that, I built a new apk by Visual Studio App Center and the apk still contain

[2019-08-20 11:02] AndreiMisiukevich commented on #115
@TingtingAn try to remove bin/obj and remove HotReload from platform projects (leave it only in portable), then try to build again

[2019-08-21 04:22] TingtingAn commented on #115
@AndreiMisiukevich   Yea, I just kept Xamarin.HotReload in portable project and removed the bin/obj folders.   Still not work.

I created a  [demo project](https://github.com/TingtingAn/TestForHotReload).  Could you try to build the apk?

[2019-08-21 09:26] AndreiMisiukevich commented on #115
@TingtingAn sure, it will take a look
thanks

[2019-08-21 12:45] XamarinTounsi commented on #113
@MagicAndre1981, thanks for you ansewer, i can now debugg  from my distant machine, i activated the HotReload plugin, i had this message " Extension has started to listen 15001 port for IP auto disovery",
I added this code in my app.cs
#if DEBUG
            HotReloader.Current.Run(this, new HotReloader.Configuration
            {
                ExtensionIpAddress = IPAddress.Parse("192.168.00.01"

[2019-08-21 12:51] AndreiMisiukevich commented on #113
ExtensionIpAddress = IPAddress.Parse("192.168.00.01")  what is it?

[2019-08-21 12:52] AndreiMisiukevich commented on #113
remove this line or put your PC IP (where visual studio is hosted)

https://www.groovypost.com/howto/news/microsoft-releases-new-mbsa-scanner-windows-7-server-r2/

[2019-08-21 12:57] XamarinTounsi commented on #113
HotReloader.Current.Run(this);
Thank you very much, it work

[2019-08-21 15:24] MagicAndre1981 commented on #113
nice to hear this.

[2019-08-22 17:24] MagicAndre1981 commented on #111
@pbalbino have you tried packages.config way?

[2019-08-22 20:48] AndreiMisiukevich commented on #115
@TingtingAn , try ```ItemGroup Condition="'$(Configuration)' != 'Release'"```

Full:

[code]

[2019-08-22 21:04] AndreiMisiukevich commented on #115
Hm, have you got any ideas how to work around it?

[2019-08-22 21:14] AndreiMisiukevich commented on #115
Then try it.

And remember.

1) You change build target (e.g. from Debug to Release)
2) **You must force to restore packages by right click on solution -> Restore packages**

[code]

[2019-08-22 21:30] #107 closed

[2019-08-22 21:46] AndreiMisiukevich commented on #110
@aijinrua can you try 1.4.15 version instead? Does it work?

[2019-08-23 03:57] TingtingAn commented on #115
@AndreiMisiukevich   It does not work.  And I got the info here.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#adding-a-packagereference-condition

You can use a condition to control whether a package is included, where conditions can use any MSBuild variable or a variable defined in the targets or props file. However, at presently, only the TargetFra

[2019-08-23 06:56] taublast commented on #111
Yep still sitting at 1.4.15, can't make upper versions work. Installing System.Threading.Tasks.Extensions is not helping.

[2019-08-23 08:15] AndreiMisiukevich commented on #115
@TingtingAn agrh.. So, it's problem.

Okay, you for now you may comment this line in csproj and build the apk.. need to investigate

[2019-08-23 08:15] AndreiMisiukevich commented on #111
@taublast  i will hide upper versions. Need to fix this issue first

[2019-08-23 12:33] simix-felipebaltazar commented on #115
linking assemblies don't solve this?

https://docs.microsoft.com/en-us/xamarin/android/deploy-test/linker

[2019-08-24 12:17] rudyspano commented on #115
`  ...
    <PackageReference Include="Xamarin.Forms" Version="4.2.0.709249" />
  </ItemGroup>

  <ItemGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
	  <PackageReference Include="Xamarin.HotReload" Version="1.4.19" />
  </ItemGroup>`

[2019-08-24 12:17] rudyspano commented on #115
[code]

This solution seems to work on my side

[2019-08-25 22:55] AndreiMisiukevich commented on #115
so you don't see useless DLLs in your apk?

[2019-08-26 10:05] rudyspano commented on #115
Yes. No more libaot-Microsoft.CodeAnalysis.CSharp.dll.so

[2019-08-26 10:22] TingtingAn commented on #115
@rudyspano  In fact, commenting HotReload PackageReference is my only soultion.

https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#adding-a-packagereference-condition

According to the Microsoft documentation, we know only the TargetFramework variable is supported for packagereference condition.

So I think your solution will not work.  I've tried it befor

[2019-08-26 11:28] rudyspano commented on #115
@TingtingAn It is working on Visual Studio for Mac "Archive For Publishing" feature (do not forget to manually delete obj and bin folders). And also in our on Premise CI Environment (Jenkins, MSBuild on Mac). In order to view the APK Package content, we use Android Studio.
The condition is set on ItemGroup and not on PackageReference as sent...

[2019-08-27 06:42] TingtingAn commented on #115
Yes, it is working for Archive feature on my local Visual Studio.  So the issue is from Visual Studio App Center.
Let's close this.
Thanks very much! @rudyspano @AndreiMisiukevich

[2019-08-27 06:42] #115 closed

[2019-08-27 13:38] taublast commented on #111
Not sure your plugin is really to blame here, i got same error with some other nugets that compile ok on vs 2019 and give the above error on vs 2017. Was forced to switch to vs 2019 because of this.

[2019-08-31 18:58] MagicAndre1981 commented on #111
as I already wrote, it works for me when I use packages.config for Android app.

[2019-08-31 18:58] MagicAndre1981 commented on #112
any update on this?

[2019-09-01 06:57] MuhammadHamzaRajput commented on #112
Warning has gone When I down grade version to Xamarin.HotReload 1.4.15

[2019-09-01 19:22] AndreiMisiukevich commented on #112
@MagicAndre1981 not yet

[2019-09-05 07:25] MagicAndre1981 commented on #112
In VS2017 the code reload is not working for UWP and Android apps.

What are you trying now? Can you also setup a Windows 10 VM and test it there?

[2019-09-05 08:31] MagicAndre1981 commented on #92
@AndreiMisiukevich

when capturing Exception data with WPR.exe I see this NotSuportedException with callstack from Hotreload:

Line # | etw:ActivityId | Provider Name | Task Name | Time (s) | Opcode Name | Field 1 | Stack | Message | Event Name | Id | Process | Cpu | ThreadId | Field 1 | Field 2 | Field 3 | Field 4 | Field 5 | Field 6 | Field 7 | Field 8 | Field 9 | Field 10 | Field 11 | Field 12

[2019-09-05 09:32] AndreiMisiukevich commented on #92
@MagicAndre1981 well, I will disable code reloading, because it doesn't work

[2019-09-05 10:32] MagicAndre1981 commented on #92
have you ever tested it with Android or only iOS?

[2019-09-05 10:43] AndreiMisiukevich commented on #92
tested with android on MAC

[2019-09-06 05:11] MagicAndre1981 commented on #92
real device or emulator? Because run Win10 in a VM I always test real devices, because Android Emulator doesn't support nested VMs. Here I use Adb over Wifi/LAN to connect to a tablet/phone and run the apps

[2019-09-06 08:24] AndreiMisiukevich commented on #92
@MagicAndre1981 both

[2019-09-06 09:12] MagicAndre1981 commented on #92
this is really wired. Can you add more debug code so that I can logging in debug window?

[2019-09-09 08:37] MagicAndre1981 opened #116 "Call DisableExtension() in OnEnviromentSolutionClosed to avoid port change from 15000 to 15001 or 15002"
When you close an solution only the state of buttons for Hotrealod get changed, while Reloader still runs. If you open a new solution and click on connect, you now get a message that port is now 15001 instead of 15000 because prev is still running.

So in ExtensionCore.cs call [DisableExtension()](https://github.com/AndreiMisiukevich/HotReload/blob/a8547a0dbd1053092dcecb2f563781993949b0bc/Extensio

[2019-09-10 07:06] MagicAndre1981 commented on #116
not for this simple fix

[2019-09-10 19:45] MagicAndre1981 commented on #116
done [here](https://github.com/AndreiMisiukevich/HotReload/pull/117). Works so far from what I see.

[2019-09-10 23:43] phil-harmoniq commented on #79
Any updates on this? I can't get HotReload to work on a physical iPhone regardless of if I am building/deploying from Windows or my Mac

[2019-09-11 07:55] AndreiMisiukevich commented on #79
@phil-harmoniq not yet, sorry
i think official Microsoft HotReload should work

[2019-09-25 21:12] InquisitorJax opened #118 "Errors after upgrading to Forms 4.2.x"
I'm seeing this in the output:
Xamarin.Forms.Xaml.XamlParseException: Position 1:1533. An element with the name "_punchCard" already exists in this NameScope.

Downgrading to XForms 4.1.x solves the problem.

[2019-09-25 22:03] InquisitorJax commented on #118
I logged a related issue on Forms for this https://github.com/xamarin/Xamarin.Forms/issues/7685

[2019-09-26 09:37] AndreiMisiukevich commented on #118
@InquisitorJax don't think they will fix it since there is official hotReload

[2019-09-26 09:39] InquisitorJax commented on #118
@AndreiMisiukevich ... I think this is breaking the official hot reload as well

[2019-09-26 09:41] AndreiMisiukevich commented on #118
@InquisitorJax ah, got it.
I need to find a little time and update my HotReload.

BTW, i am going to remove "code reloading". Because it piece of s...t

[2019-09-27 16:31] MagicAndre1981 commented on #93
Xamarin.Forms 4.3 will [require Visual Studio 2019 16.3](https://github.com/xamarin/Xamarin.Forms/issues/7602#issuecomment-535998142)

So your project is obsolete as 16.3 has their Hotreload and later they will have [Hot Restart](https://devblogs.microsoft.com/xamarin/xamarin-hot-restart/) which reloads code, not in realtime, but faster.

[2019-09-28 11:17] AndreiMisiukevich commented on #93
@MagicAndre1981 yes, that's true)
I will consider archiving this project

[2019-09-29 21:12] AndreiMisiukevich commented on #118
Going to close this ticket, since the same issue occurs on the official hotReload

[2019-09-29 21:12] #118 closed

[2019-09-29 21:14] #116 closed

[2019-09-29 21:14] AndreiMisiukevich commented on #114
@iBavtovich is it still interesting for you to investigate that?)

[2019-09-29 21:15] AndreiMisiukevich commented on #112
i removed mono csharp

So code reloading may be unavailable for android.. or for windows at all

[2019-09-29 21:15] #112 closed

[2019-09-29 21:18] AndreiMisiukevich commented on #111
try on newest version which would be released today

[2019-09-29 21:18] #111 closed

[2019-09-29 21:20] #89 closed

[2019-09-29 21:20] #108 closed

[2019-09-29 21:20] #110 closed

[2019-09-29 22:23] AndreiMisiukevich commented on #79
@phil-harmoniq I think for iOS/Android development you should go ahead with official MS HotReload

[2019-09-29 22:23] #79 closed

[2019-09-30 05:17] MagicAndre1981 commented on #116
Have you released the [extension](https://marketplace.visualstudio.com/items?itemName=StanislavBavtovich.hotreloadxamarinforms) update? Here last update is still from July 2019

[2019-09-30 05:28] MagicAndre1981 commented on #112
so it was not possible to use the mono nuget all time?

[2019-09-30 06:40] MagicAndre1981 commented on #112
same like before, changing code has no effect at all (Win10 VM, android part running on phone connected via adb over wifi)

[2019-09-30 07:39] iBavtovich commented on #114
Yep, I investigated this problem. This exception was thrown in the Extension Core part: "connection refused" while sending updates .xaml file. So it is some kind of exception related to network connection.

[2019-09-30 11:18] AndreiMisiukevich commented on #114
@iBavtovich got it, thanks)
I lean towards suppressing this kind of exceptions (just wrap with try-catch).
I guess when Rider is in background mode for some reasons it's unavailable for http requests (?). Sounds weird of course...

The best approach would be retrying to send updates several times then suppressing.

[2019-09-30 20:42] AndreiMisiukevich commented on #116
@MagicAndre1981 not yet :(
I have no windows installed on my mac for doing it.

Maybe @stanbav will assist in his free time, not sure. Or you can build it, then I will push it to store

[2019-09-30 20:44] AndreiMisiukevich commented on #112
then it causes compile errors or even errors during installation

[2019-10-01 05:24] MagicAndre1981 commented on #116
you can setup a Windows VM or [Azure](https://azure.microsoft.com/en-us/services/devops/pipelines/)?

[2019-10-02 07:45] AndreiMisiukevich commented on #116
@MagicAndre1981 so little time for that :(
I am trying to maintain 6 own opensource projects and contribute to XF. Sorry for big delays

[2019-10-02 08:14] MagicAndre1981 commented on #116
ok

[2019-10-02 08:17] AndreiMisiukevich commented on #116
would be cool if you could build this package :)

[2019-10-02 08:18] AndreiMisiukevich commented on #116
Or I will try to do it on the weekend

[2019-10-03 12:26] XamarinTounsi opened #119 "HotReload not working"
Hello,

HotReload, no longer works with the new version of xamarins.Forms 4.2

Cordially

[2019-10-03 12:31] AndreiMisiukevich commented on #119
Yes, this is XF issue https://github.com/AndreiMisiukevich/HotReload/issues/118

[2019-10-03 12:38] XamarinTounsi commented on #119
should downgrade version to fix it ?

Thanks

[2019-10-03 13:08] AndreiMisiukevich commented on #119
I think, yes

[2019-10-07 12:31] akamud commented on #119
Aparrently they [fixed the issue on HotReload itself](https://github.com/xamarin/Xamarin.Forms/issues/7685#issuecomment-538361652), so an auto-fix will not happen here :/

[2019-10-07 12:44] AndreiMisiukevich commented on #119
@akamud hm. Interesting. @StephaneDelcroix said that it will be available in the next HotReload version.
Perhaps it's some kind of workaround with changing names in XAML :)
We can apply this fix I think.

Do you develop for Mac/UWP/Tizen? Just wonder why you decided to stay with this plugin :)

[2019-10-07 12:49] akamud commented on #119
I still use this for three reasons:
1. I prefer having tools that are not attached to any IDE... for that reason I use the Observer with a Cake script.
2. I've been using Rider primarily on Mac.
3. I use the Vim plugin (which I'm very dependent of) and that doesn't work on new releases. I still use VS4Mac 8.1, which doesn't have HR.

I totally understand your point, if you decide to archive this I

[2019-10-07 14:00] AndreiMisiukevich commented on #119
@akamud if you decide to become a maintainer, feel free to contact me ;) It will be easier to support both haha)

[2019-10-07 14:04] StephaneDelcroix commented on #119
@AndreiMisiukevich make sure you clear the Namescope of the object you're reloading, that should fix it

[2019-10-07 14:18] AndreiMisiukevich commented on #119
Thank you very much! I'd like to say "Feel free to make PR", but I already should be thankful for the hint 😆  🤣

[2019-10-07 14:30] StephaneDelcroix commented on #119
I unfortunately do not depend on, or use, this project, but nice try

[2019-10-09 07:23] taublast opened #120 "More Microsoft.CodeAnalysis troubles"
Cannot compile for iOS under Windows with HotReload version upper than 1.4.15 that needs Microsoft.CodeAnalysis. VS 2019.
Error: "The assembly  Microsoft.CSharp.CodeAnalysis.dll can't be AOT-compiled for 32-bit architectures because the native code is too big for the 32-bit ARM architecture."
Can it work without this analysis lib?

[2019-10-09 07:39] AndreiMisiukevich commented on #120
![image](https://user-images.githubusercontent.com/10124814/66461162-1aa1c180-ea81-11e9-9796-b6c450e4b5e0.png)

Show me your settings please

[2019-10-10 06:25] taublast commented on #120
![image](https://user-images.githubusercontent.com/25801194/66544133-e93bfb00-eb3f-11e9-8d24-799025fa4abf.png)

LLVM on-off same result

[2019-10-10 09:57] AndreiMisiukevich commented on #120
![image](https://user-images.githubusercontent.com/10124814/66559083-6d50ab80-eb5d-11e9-960c-bb93a560b69e.png)

and play with supported architectures. Try ARM64 only (try all possible)

[2019-10-12 18:52] iBavtovich commented on #114
When Rider is is background mode user can't send request with changes for reloading via HTTP, because it is only possible with Ctrl+S shortcut.

Rider and Extension only send http request to device. Probably this exception happened when app on emulator was closed (and http port was closed also). Is this a case?

[2019-10-12 20:15] AndreiMisiukevich commented on #114
let's consider that it's true.
Can we preserve exceptions?

[2019-10-13 22:04] #119 closed

[2019-10-13 22:07] #120 closed

[2019-10-15 10:41] XamarinTounsi commented on #119
Can't use HotReload in UWP platform

[2019-10-15 10:59] AndreiMisiukevich commented on #119
@XamarinTounsi there are dozens of issues, which are explained this limitation.

Read it: (you CAN use HotReload on UWP, but you will have to use two machines. @MagicAndre1981 is an expert in this question)
https://github.com/AndreiMisiukevich/HotReload/issues/87#issuecomment-508484626

[2019-10-15 11:06] XamarinTounsi commented on #119
Yes i used two machine, before upgrading to  4.2, HotReload work well

[2019-10-15 11:07] AndreiMisiukevich commented on #119
@XamarinTounsi Did you update your app to use latest HR version?

[2019-10-15 11:08] XamarinTounsi commented on #119
Yes i updated it

[2019-10-15 11:10] AndreiMisiukevich commented on #119
@XamarinTounsi any errors in the application output?

[2019-10-15 11:10] XamarinTounsi commented on #119
no error

[2019-10-15 11:12] AndreiMisiukevich commented on #119
but if you right now rollback to the previous XF version (without rolling back hot reload), It will work, right? Can you try?

I am trying to understand what is the reason

[2019-10-15 11:18] XamarinTounsi commented on #119
I had much error when i rollback to previous xamarin version, HotReload work well in android platform

[2019-10-15 11:30] AndreiMisiukevich commented on #119
Well... then I will need your assistance)

On Tue, Oct 15, 2019 at 14:18 XamarinTounsi <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-10-15 11:36] XamarinTounsi commented on #119
How can I help you ?

[2019-10-15 11:42] AndreiMisiukevich commented on #119
Can you contact me on Skype ?
csi.andreymisyukevich

On Tue, Oct 15, 2019 at 14:36 XamarinTounsi <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2019-10-15 11:46] XamarinTounsi commented on #119
I invited you ;)

[2019-10-15 12:40] AndreiMisiukevich commented on #119
@MagicAndre1981 does HR still work for you on UWP?

[2019-10-15 21:23] akamud commented on #111
After upgrading to XF 4.2.0.848062 and HotReload 1.5.3 I started having this issue on Azure DevOps (which uses VS for Mac 8.3.1.18). It builds fine locally, but even when adding the `System.Threading.Tasks.Extensions` reference I still get the same exception:

[code]

HotReload is the only package that references `Microsoft.CodeAnalysis.CSharp` in my project, I confirmed checking the dependencies

[2019-10-15 21:39] akamud commented on #111
Update: in case anyone is reading, this doesn't seem to be an issue with HotReload at all, but I'm still trying to figure out a consistent cross-platform fix.

[2019-10-16 08:35] MagicAndre1981 commented on #119
1.5.3 works for me. Layout gets updated on tablet via remote debugging

[2019-10-16 08:38] XamarinTounsi commented on #119
Hi @MagicAndre1981 , are you using xamarin version  4.2.0.84 ?

[2019-10-16 08:46] MagicAndre1981 commented on #119
I use 4.2.0.778463

[2019-10-16 09:46] AndreiMisiukevich commented on #111
@akamud probably I should remove "code reloading" parts at all and focus on xaml.

[2019-10-16 09:59] AndreiMisiukevich commented on #119
@MagicAndre1981 sorry for disturbing you continuously :) but you know a lot about windows reloading lol )

[2019-10-22 07:19] InquisitorJax opened #122 "Upgrade from 1.4.19 -> 1.5.X = unhandled exceptions"
### STR
- turn on all 'break on CLR exceptions'
![image](https://user-images.githubusercontent.com/1822976/67264814-7e2de500-f4ac-11e9-88a1-b6a4c1f164cb.png)
- running on android API 28 emulator

The result is multiple exceptions similar to this
![image](https://user-images.githubusercontent.com/1822976/67264874-a289c180-f4ac-11e9-876c-4e024661c2a1.png)

The app becomes impossible to debug with th

[2019-10-22 08:36] AndreiMisiukevich commented on #122
@InquisitorJax Hi)
But they are not critical, aren't they?
Well, just need to suppress them

[2019-10-22 08:44] InquisitorJax commented on #122
It's not critical in that it doesn't break the app (the exceptions are handled somewhere down the stack),
but being able to debug the app with this setting on is critical to finding real bugs, and this becomes impossible if the app keeps stopping on these other exceptions that are being thrown by dependent libraries.
For me, this is a show-stopper to upgrading.

[2019-11-05 15:44] DiegoVenancioVieira commented on #1
Hi, some update about genymotion?

I'm trying now and not working. Thanks in advance

[2019-11-05 16:20] AndreiMisiukevich commented on #1
hm, should be working

Check "adb" is added to PATH

[2019-11-05 23:24] DiegoVenancioVieira commented on #1
@AndreiMisiukevich Hi, dear. I post a question here: https://stackoverflow.com/q/58720801/4654957. Let me know if is better open other topic/issue here and if can I help u with tests. Maybe I'm missing something, but dont know whats.

[2019-11-06 08:59] AndreiMisiukevich commented on #1
you needn't have to do it. And DO NOT set DeviceUrlPort = 15000

Just ```HotReloader.Current.Run(this)```

[2019-11-10 00:33] AndreiMisiukevich commented on #122
try 1.5.4-pre (i removed all code reloading stuff)

[2019-11-10 00:33] #122 closed

[2019-11-12 10:00] AndreiMisiukevich commented on #122
@InquisitorJax does it work for you now?

[2019-11-12 10:11] InquisitorJax commented on #122
sorry @AndreiMisiukevich - I haven't had a chance to test, as I moved on to the official hot reload from xamarin - which for the most part is working now.

[2019-11-12 10:28] AndreiMisiukevich commented on #122
@InquisitorJax got it. That's fine. I think it's the right decision.

[2019-11-15 10:42] gnamse opened #123 "Rider "HotReloadAction" was already registered crash"
I get the following message when i startup Rider.

`java.lang.Throwable: action with the ID "HotReloadAction" was already registered. Action being registered is Enable HotReload (); Registered action is Enable HotReload ()
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:145)
	at com.intellij.openapi.actionSystem.impl.ActionManagerImpl.reportActionError(ActionManagerImpl.java:372)
	at

[2019-11-15 11:14] AndreiMisiukevich commented on #123
Hey @iBavtovich
do you have a little time for investigation this crash?

@gnamse did you try to open two instances of Rider?

[2019-11-15 12:13] gnamse commented on #123
I'v got two instances open. What next?

[2019-11-15 12:28] AndreiMisiukevich commented on #123
@gnamse I meant, that you cannot do it :)
You should have only one instance opened at the same time

[2019-11-15 18:18] iBavtovich commented on #123
@gnamse @AndreiMisiukevich Hi! Yep, I've already fixes this problem, but forgot to release new version of Rider plugin. If i upload it today, it will be available probably on Tuesday in JetBrains Plugins Repository

[2019-11-15 18:39] AndreiMisiukevich commented on #123
@iBavtovich amazing!

[2019-11-18 19:26] iBavtovich commented on #123
@gnamse @AndreiMisiukevich  I've uploaded plugin recently. Tried to bump Rider's supported version to 2019.3.* (as EAP is available now) but without success. Seems like smt was changed in Rider's platfrom, will dive into it deeper later. As for now - fix and plugin will be available for 2019.2.*

[2019-11-18 21:07] AndreiMisiukevich commented on #123
@iBavtovich feel free to close this ticket when you think it's hight time)

[2019-11-19 20:17] asusralis opened #124 "Was the 'same key already exists' introduced in 4.2 fixed?"
I'm using the official HR, but it seems this project had the same problem. I've read through the main issue on their repo [here](https://github.com/xamarin/Xamarin.Forms/issues/7833), but all they say is that it will be fixed in the latest HR release. Where exactly do you find that? Is it in the Forms Nuget or through a visual studio update? Both are at the latest for me but I still have this prob

[2019-11-19 20:46] AndreiMisiukevich commented on #124
how do you reproduce this issue?
I've fixed it in my latest nuget version

[2019-11-19 20:49] asusralis commented on #124
Thanks for the quick response! I simply have an xaml file with any number of controls named. Even if it's just one control named it will tell me there's duplicate controls with the same name.

So you've fixed it but they haven't yet? They said the "next HR release" but I have no idea if that's through the forms package or a visual studio release. That was over 2 months ago, I'm fully updated, and

[2019-11-20 08:16] AndreiMisiukevich commented on #124
@asusralis sorry, I cannot answer...

[2019-11-20 08:16] #124 closed

[2019-11-20 18:19] iBavtovich commented on #123
New version is released.

[2019-11-20 18:19] #123 closed

[2019-11-20 21:20] AndreiMisiukevich commented on #123
well done!

[2019-11-27 10:39] AndreiMisiukevich commented on #114
@iBavtovich i believe it's fixed ?)

[2019-11-27 18:26] iBavtovich commented on #114
I would say yes, because it is seems like client exception, not server one. I don't really want to supress execption in that case, so as for now - won't fix :)

[2019-11-27 18:26] #114 closed

[2019-12-30 19:42] westito opened #125 "Compile fails as of version 1.6.1"
Error CS0426: The type name 'CSharpVisual' does not exist in the type 'HotReloader' (CS0426)
As I see in commit history, hot reload stuff completly commend out of code (???)

https://github.com/AndreiMisiukevich/HotReload/commit/207b38b192068391ebb181031da0d2cb9f0abda9#diff-c0ad30a90ff5339063bc11314c3c9f8a

[2019-12-30 21:32] AndreiMisiukevich commented on #125
@westito yes, that's true.
Code reloading was removed

Do you use it?

[2019-12-30 23:37] westito commented on #125
Yes of course. What else this stuff used for?

[2019-12-30 23:55] westito commented on #125
Code reload can be used without annotating every single class? I hate XAML. I make the UI with only code, build pages from components and widgets (react-like). This stuff works like a charm (except annotating all class). The official hotreload only works with XAML that's why it is nothing for me. Without code reload your component it's like the official one.

[2019-12-31 07:58] AndreiMisiukevich commented on #125
Well, then stay on the previous version.
I will release a separate nuget for code reload

[2019-12-31 14:49] PauchardThomas opened #126 "Triggers and ViewCell issues"
Hi,

Found 2 issues.

* Specs :
 * XF : 3.6.0.539721
 * Xamarin.HotReload 1.5.4-pre

### 1/ Triggers not working anymore after updating ContentView content.

No Exception.

### 2/ Controls inside ViewCell not found after updating ViewCell content.

Trace :

at Xamarin.Forms.HotReloader.ReloadElement (System.Object obj, Xamarin.Forms.HotReloader+ReloadItem reloadItem, System.Type csharpType) [0x002

[2019-12-31 16:22] AndreiMisiukevich commented on #126
![image](https://user-images.githubusercontent.com/10124814/71627335-ee6e8a80-2c02-11ea-8960-d109e1b03253.png)

[2019-12-31 16:23] AndreiMisiukevich commented on #126
as for triggers. Can you provide a small xaml sample?

[2019-12-31 16:54] PauchardThomas commented on #126
https://github.com/PauchardThomas/HotReloadIssue

[2020-01-01 19:11] MagicAndre1981 commented on #125
ok, so should we now remove the attribute and update to 1.6.1?

Btw, with .NET 5 Microsoft [kills the Assembly.Load issue as it removes the AppX limitation](https://github.com/dotnet/coreclr/pull/27356/files#diff-ab08932c10f914421e9cfd958f5743d7L208). Now all platforms use same code.

So when UWP uses .net 5 as base this reload feature should work.

[2020-01-01 20:15] AndreiMisiukevich commented on #125
@MagicAndre1981 I think it makes sense to create a separate nuget for code reloading

[2020-01-02 07:19] MagicAndre1981 commented on #125
maybe you can also create your own Assembly.Load implementation in this extra nugets to avoid the issue.

[2020-01-02 12:41] PauchardThomas commented on #126
I do not change the root view type, just updating the content

[2020-01-14 09:28] avodovnik opened #127 "Exception in Extension Command Constructor"
Diagnosing some issues in VS for Mac, I've spotted a few stack traces with exceptions in your plugin. They seem to be coming from this part:

https://github.com/AndreiMisiukevich/HotReload/blob/c035c2df08407c74e4e987e7777711a0ba487f09/Extension/Xamarin.Forms.HotReload.Extension.MacVS/Commands/EnableExtensionCommand.cs#L12

(and the counterpart in `DisableExtensionCommand`)

Without looking deeper,

[2020-01-14 15:53] AndreiMisiukevich commented on #127
how can I reproduce it?

[2020-01-14 18:49] avodovnik commented on #127
I haven't actually been able to reproduce it myself. I think it's got something to do with menus (particularly context menus) and somehow triggering them too early (i.e. before the caches are built, etc.). Although like I said, I haven't been able to repro it yet. I figured I should open an issue though, and at least give you a heads up that we're seeing this.

[2020-01-14 20:37] AndreiMisiukevich commented on #127
Thanks)

[2020-03-11 05:53] nakulLukan opened #128 "Visual Studio restarting when Hot Reload is enabled and debugged with andoird phone (OS : Android10)"

[2020-03-11 08:07] AndreiMisiukevich commented on #128
Mac or Win ?

[2020-03-11 09:24] nakulLukan commented on #128
Windows

**About VS**
Microsoft Visual Studio Professional 2019
Version 16.4.4
VisualStudio.16.Release/16.4.4+29728.190
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Professional

Visual C++ 2019   00435-60000-00000-AA061
Microsoft Visual C++ 2019

ASP.NET and Web Tools 2019   16.4.460.23317
ASP.NET and Web Tools 2019

ASP.NET Web Frameworks and Tools 2019   16.4.460.23317
For add

[2020-03-17 04:37] nakulLukan commented on #128
@AndreiMisiukevich I am getting this issue only when I debug the application with Android 10 device for the first time. I am able to bypass this crash by running the application in any other lower version devices and then use Android 10 for later development.

[2020-03-17 07:35] MagicAndre1981 commented on #125
will we ever get this? Or is the project dead now?

[2020-03-17 11:31] AndreiMisiukevich commented on #128
@nakulLukan thanks for the info :)
Why don't you use official HotReload?

[2020-03-17 11:32] AndreiMisiukevich commented on #125
for now, you can use the previous version.

[2020-03-18 05:58] MagicAndre1981 commented on #125
but here code reloading never worked

[2020-03-18 12:05] AndreiMisiukevich commented on #125
Worked on Mac

[2020-03-28 17:36] AndreiMisiukevich commented on #125
latest pre-release version

CSharp visual is not used anymore

[2020-03-28 17:36] #125 closed

[2020-03-31 10:02] thiagovalim opened #129 "hot reload is not triggered automatically"
Hot reload is triggered only on save

(Visual studio 2019 windows)

[2020-03-31 11:56] AndreiMisiukevich commented on #129
Hi) Yes, of course. Official HotReload works the same.
it doesn't make sense to try to reload on every letter changed, because most of the times we will try to reload invalid xaml.

[2020-03-31 11:56] #129 closed

[2020-04-10 15:45] AndreiMisiukevich commented on #127
cannot reproduce
closing

[2020-04-10 15:45] #127 closed

[2020-04-10 17:31] AndreiMisiukevich commented on #126
add ```<?hotReload preserve.triggers?>``` to your content view xaml

[code]

[2020-04-10 17:32] AndreiMisiukevich commented on #126
ViewCells are gone since CollectionView is released. I don't see any sense continue to support them

[2020-04-10 17:39] #126 closed

[2020-04-11 14:51] marciordonez opened #130 "Error when return to original code, after changes"
Hello,

The hot reload stops when I change my code for the second time and save again, using IReloadable interface. I'm invoking a HttpClient API to load data using ListView.

Example:
Change label color and save 1st time (OK)
Change label color (again) and save 2nd time (Stop reloading)

Tested with iphone 11 pro ios 13.4 simulator.

Thanks

[2020-04-11 15:10] AndreiMisiukevich commented on #130
Does it work fine on a simple page? without IReloadable

[2020-04-11 15:27] marciordonez commented on #130
Yes, it works!

[2020-04-11 15:29] marciordonez commented on #130
Maybe hot reload is being faster than API response

[2020-04-11 16:20] AndreiMisiukevich commented on #130
Probably yes.
Can you build a small sample and attach it to this issue?

[2020-04-11 16:57] marciordonez commented on #130
XAML

`<Grid>
        <Grid>
            <Grid.RowDefinitions>
                <RowDefinition Height="Auto"/>
                <RowDefinition Height="*"/>
            </Grid.RowDefinitions>
            <Image Source="h61cbc.jpg" Aspect="AspectFill" />

            <ListView IsPullToRefreshEnabled="True"
                      RefreshCommand="{Binding RefreshCommand}"
                      IsRefreshi

[2020-04-11 17:02] marciordonez commented on #130
XAML

`<Grid>
        <Grid>
            <Grid.RowDefinitions>
                <RowDefinition Height="Auto"/>
                <RowDefinition Height="*"/>
            </Grid.RowDefinitions>
            <Image Source="h61cbc.jpg" Aspect="AspectFill" />

            <ListView IsPullToRefreshEnabled="True"
                      RefreshCommand="{Binding RefreshCommand}"
                      IsRefreshi

[2020-04-12 22:47] AndreiMisiukevich commented on #130
Sorry, I cannot reproduce this issue. It works fine for me.
Build a sample project and attach it.

[2020-04-13 23:15] AndreiMisiukevich opened #131 "Get rid of all custom interfaces"
Replace them by reflection (just look for a method with a certain name)

[2020-04-13 23:17] AndreiMisiukevich opened #132 "Implement C# reloading not only for pages"
ContentViews etc.

[2020-04-14 00:03] AndreiMisiukevich commented on #132
Check why Commands are not allowed on Android

[2020-04-14 08:07] MagicAndre1981 commented on #132
I get this message about pages with version 2 under Android (VS2017):

`04-14 09:56:35.977 I/mono-stderr(25963): 	CS1503: Argument "1": Konvertierung von "Foo.App.Views.MainPage" in "Page" nicht möglich.`

and a lot of missings:

[2020-04-14 12:01] AndreiMisiukevich commented on #132
Hi @MagicAndre1981 )
1st: CodeReloadingEnabled = true - default value.
2nd: Could you please provide a stack trace in English?

[2020-04-14 12:04] AndreiMisiukevich commented on #132
Can you build a small sample?

[2020-04-14 21:21] #131 closed

[2020-04-14 22:45] #132 closed

[2020-04-14 22:52] AndreiMisiukevich commented on #85
RelativeLayouts are not supported (it doesn't work on official hot reload as well)

[2020-04-14 22:52] #85 closed

[2020-04-14 22:53] AndreiMisiukevich commented on #128
probably updating visual studio will help

[2020-04-14 22:53] #128 closed

[2020-04-15 18:20] marciordonez commented on #130
Hello, thanks for help.

Follow my poc project.

Sometimes it looks like the change is shown by Hot Reload, but something makes the contents of the listview disappear.

[XFMobileCBCBeta.zip](https://github.com/AndreiMisiukevich/HotReload/files/4482992/XFMobileCBCBeta.zip)